.mobile-sidebar__header {
  align-items: center;
  background-color: var(--nlds-page-header-background-color);
  color: white;
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  text-align: right;
}

.navbar-sidebar__header-button {
  --utrecht-button-color: white;
  --utrecht-button-hover-color: white;
  --utrecht-button-font-size: 18px;
  --utrecht-button-min-block-size: 100%;
}

.navbar-sidebar__header-button:hover {
  --utrecht-button-hover-color: white;

  text-decoration: underline;
  text-underline-offset: 2px;
}

.navbar-sidebar__header-button:active {
  color: lightgrey;
}

.navbar-sidebar__header-button--close:hover {
  --utrecht-button-hover-background-color: var(--nlds-mobile-sidebar-background-color);
}
