.core-team {
  align-items: baseline;
  align-items: center;
  display: grid;
  gap: 8px;
  grid-auto-flow: column;
  margin-block-start: 30px;
  max-height: 200px;
  width: 100%;
}

.core-team__content {
  padding-block-end: 36px;
  padding-block-start: 24px;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
}

.core-team__heading {
  padding-block-start: 1rem;
}

.core-team__heading-subtitle {
  font-size: 20px;
  padding-block-start: 8px;
}
