/* generic */

body {
  box-sizing: border-box;
  color: #004152;
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
}
@media (width >= 50em) {
  body {
    font-size: 125%;
  }
}

h1,
h2,
h3 {
  font-family: "Fira Sans";
  margin-top: 0;
}

h3 {
  margin-bottom: 0.5em;
}
h2 + p,
h3 + p,
h3 + ul {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

/* header area */

header {
  background-color: #74295f;
  color: #fff;
}

header h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  max-width: 17em;
}
@media (width >= 50em) {
  header h1 {
    font-size: 2.25em;
  }
}
header .ma-factsheet__pre-h1 {
  display: block;
  font-size: 0.5em;
  margin-bottom: 0.25em;
  opacity: 85%;
}
header .ma-factsheet__pre-h1::after {
  background: #fff;
  content: "";
  display: block;
  height: 0.25em;
  margin-bottom: 2.4em;
  margin-top: 1.2em;
  opacity: 85%;
  width: 1.5em;
}

header h1 + p {
  font-size: 1.2em;
  max-width: 42em;
}
@media (width >= 50em) {
  header .ma-factsheet__product-name

  /* keep together if space allows */ {
    white-space: nowrap;
  }
}

/* usps area */

.ma-factsheet__usps-short {
  margin-bottom: 2em;
}
.ma-factsheet__usps-short h2 {
  margin-bottom: 1.2em;
  margin-top: 0.6em;
}
.ma-factsheet__usps-short p {
  font-size: 120%;
}
.ma-factsheet__usps-long h3 {
  margin-bottom: 1.5em;
  margin-top: 0.3em;
}
.ma-factsheet__usps-long ul {
  padding-left: 0.85em;
}
.ma-factsheet__usps-long li {
  margin-bottom: 0.4em;
}

@media (width >= 54em) {
  .ma-factsheet__usps {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ma-factsheet__usps-short h2 {
    margin-top: 0;
  }
  .ma-factsheet__usps-long {
    grid-column: span 2;
  }
  .ma-factsheet__usps-long ul {
    column-count: 2;
    column-gap: 2em;
  }
  .ma-factsheet__usps-long li {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

/* footer */

.ma-factsheet__footer {
  background-blend-mode: multiply;
  background-color: #f2f8fb;
  background-image: url("./blocks.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 30em;
  border-bottom: 4px solid #d1dfe3;
  border-top: 4px solid #d1dfe3;
  color: #004152;
  padding-bottom: 6em;
}
.ma-factsheet__footer-items div {
  margin: 0.5em 0 2em;
}
.ma-factsheet__footer .ma-factsheet__pre-h3 {
  display: block;
  font-size: 0.6em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}
@media (width >= 50em) {
  .ma-factsheet__footer {
    background-position: bottom right;
    padding-bottom: 4em;
  }
  .ma-factsheet__footer-items {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ma-factsheet__footer-items div {
    margin: 0;
  }
}

/* contact */

.ma-factsheet__contact h4,
.ma-factsheet__contact p {
  display: inline;
}
.ma-factsheet__contact a {
  color: #006fa3;
}

.ma-factsheet__container {
  margin: 0 auto;
  max-width: 50em;
  padding: 1em;
}

@media (width >= 40em) {
  .ma-factsheet__container {
    padding: 2em;
  }
}

@media (width >= 60em) {
  .ma-factsheet__container {
    max-width: 60em;
  }
}

@media (width >= 70em) {
  .ma-factsheet__container {
    max-width: 70em;
  }
}

@media (width >= 80em) {
  .ma-factsheet__container {
    max-width: 80em;
  }
}
