@media (min-width: 997px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--doc-sidebar-width);
    border-right: 1px solid var(--ifm-toc-border-color);
    will-change: width;
    transition: width var(--ifm-transition-fast) ease;
  }

  .sidebarWithHideableNavbar {
    padding-top: 0;
  }

  .sidebarHidden {
    width: 48px;
  }

  .sidebar__content {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .sidebar__content--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar__toggle-button {
    --utrecht-button-icon-gap: 8px;
    --utrecht-button-font-size: 18px;
    --utrecht-button-subtle-color: currentColor;

    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    min-height: var(--ifm-navbar-height);
    max-height: var(--ifm-navbar-height);
    justify-content: flex-start !important;
    padding-inline-start: 24px;
  }

  .sidebar__toggle-button--icon-only {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}
