# This is an npm only setting. We do not use npm, but if it is run by accident, this setting prevents pre- and
# post-install scripts from executing. This is aligns with pnpm's behaviour, where these scripts must be explicitly
# approved with `pnpm approve-builds`.
ignore-scripts=true

provenance=true
