.utrecht-page-header__content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  .ma-search-form {
    display: none;
  }

  .ma-page-header__center .utrecht-link:focus {
    background-color: transparent;
  }
  .ma-page-header__center .utrecht-link:focus-within {
    background-color: var(--utrecht-link-focus-background-color, transparent);
  }

  .ma-page-header__end {
    display: flex;
    justify-content: flex-end;
  }

  .ma-logo--full {
    display: none;
  }

  .utrecht-link:has(.ma-logo):focus-visible .ma-logo {
    color: black;
  }

  @media (--large-down) {
    padding-block-end: var(--basis-space-block-sm);
    padding-inline: var(--basis-space-inline-md);

    .nl-button {
      padding-inline: var(--basis-space-inline-md);
    }
  }
}

@media (--large-and-up) {
  .utrecht-page-header__content {
    grid-template-columns: auto 1fr;

    .ma-page-header__start {
      display: none;
    }

    .ma-logo--small {
      display: none;
    }

    .ma-logo--full {
      display: unset;
    }

    .ma-to-search-link {
      display: none;
    }

    .ma-search-form {
      display: flex;
      inline-size: var(--basis-form-control-max-inline-size);
      justify-content: flex-end;
    }

    .ma-search-form__form {
      inline-size: unset;
    }
  }
}
