.nlds-alt-text-helper {
  --utrecht-icon-size: 0.9em;
  --utrecht-icon-color: red;
}

.nlds-alt-text-helper .utrecht-form-fieldset__fieldset,
.nlds-alt-text-helper .utrecht-form-fieldset__fieldset > .utrecht-form-field-description,
.nlds-alt-text-helper .utrecht-spotlight-section,
.nlds-alt-text-helper .utrecht- {
  margin-block-end: var(--ifm-paragraph-margin-bottom);
}

.nlds-alt-text-helper .utrecht-form-fieldset__fieldset > .utrecht-form-fieldset__legend,
.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-2 {
  font-size: var(--utrecht-heading-2-font-size);
}

.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.nlds-alt-text-helper .utrecht-form-field__label.utrecht-form-field__label--radio {
  display: flex;
}

.nlds-alt-text-helper .utrecht-form-field__input {
  order: 0;
}

.nlds-alt-text-helper .button-bar {
  padding-top: var(--ifm-paragraph-margin-bottom);
  display: flex;
  justify-content: space-between;
}

.nlds-alt-text-helper .button-bar.flex-end {
  justify-content: end;
}

.nlds-alt-text-helper .bold-text {
  font-weight: var(--ifm-font-weight-bold);
}
