.nlds-alt-text-helper {
  margin-block-start: calc(var(--ifm-paragraph-margin-bottom) * 2);
  margin-block-end: calc(var(--ifm-paragraph-margin-bottom) * 2);
}

.nlds-alt-text-helper .utrecht-form-fieldset__fieldset,
.nlds-alt-text-helper .utrecht-form-fieldset__legend,
.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-2,
.nlds-alt-text-helper .nlds-helper-text > .utrecht-heading-2,
.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-3,
.nlds-alt-text-helper .nlds-helper-text > .utrecht-heading-3,
.nlds-alt-text-helper .utrecht-spotlight-section,
.nlds-alt-text-helper .utrecht-unordered-list {
  margin-block-end: var(--ifm-paragraph-margin-bottom);
}

.nlds-alt-text-helper .utrecht-spotlight-section,
.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-3 {
  margin-block-start: var(--ifm-paragraph-margin-bottom);
}

.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-2,
.nlds-alt-text-helper .nlds-helper-text > .utrecht-heading-2 {
  margin-block-start: 0;
}

.nlds-alt-text-helper .utrecht-breadcrumb-nav,
.nlds-alt-text-helper .utrecht-form-field-description,
.nlds-alt-text-helper .utrecht-form-field__label,
.nlds-alt-text-helper .utrecht-form-label {
  font-size: var(--basis-text-font-size-md);
}

.nlds-alt-text-helper .utrecht-form-fieldset__fieldset > .utrecht-form-fieldset__legend,
.nlds-alt-text-helper .utrecht-spotlight-section > .utrecht-heading-2 {
  font-size: var(--utrecht-heading-2-font-size);
}

.nlds-alt-text-helper .utrecht-form-field__label.utrecht-form-field__label--radio {
  display: flex;
}

.nlds-alt-text-helper .utrecht-form-field__input {
  order: 0;
}

.nlds-alt-text-helper .nlds-button-next {
  margin-block-start: calc(var(--ifm-paragraph-margin-bottom) * 2);
  margin-block-end: calc(var(--ifm-paragraph-margin-bottom) * 2);
}

.nlds-alt-text-helper .nlds-button-previous {
  margin-block-start: 0;
  margin-block-end: calc(var(--ifm-paragraph-margin-bottom) * 2.75);
}

.nlds-alt-text-helper .nlds-button-previous > .nlds-link-back {
  block-size: calc(var(--utrecht-icon-size) * 0.6);
  color: var(--_utrecht-link-state-text-decoration-color, var(--utrecht-link-text-decoration-color, currentColor));
  inline-size: calc(var(--utrecht-icon-size) * 0.6);
  margin-right: 0.2em;
}

/* .nlds-alt-text-helper .nlds-button-previous:before {
    content: '';
    background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
    filter: var(--ifm-menu-link-sublist-icon-filter);
    height: 1rem;
    transform: rotate(270deg);
    width: 1.5rem;
    display:inline-block;
    color: red;
} */

.nlds-alt-text-helper .nlds-button-bar.flex-end {
  justify-content: end;
}

.nlds-alt-text-helper .bold-text {
  font-weight: var(--ifm-font-weight-bold);
}

.nlds-alt-text-helper .nlds-alt-text-helper-heading-with-icon {
  padding-left: 1.5em;
  position: relative;
}

.nlds-alt-text-helper .nlds-alt-text-helper-icon {
  display: block;
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
}

.nlds-alt-text-helper .nlds-alt-text-helper-icon svg {
  width: 100%;
  height: 100%;
  text-align: left;
  vertical-align: middle;
}
