.utrecht-form-fieldset__fieldset > .utrecht-form-fieldset__legend {
  font-size: 1.5rem;
}

.utrecht-form-fieldset__fieldset > .utrecht-form-field-description {
  margin-block-end: 10px;
}

.utrecht-form-fieldset__fieldset > .utrecht-form-field {
  display: block;
}

.utrecht-spotlight-section > .utrecht-heading-3 {
  font-size: 1.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
