.blog-card {
  --utrecht-badge-list-item-margin-block: 8px;
  --utrecht-badge-list-item-margin-inline: 16px;
  --utrecht-badge-font-weight: 400;
  --utrecht-badge-background-color: transparent;
  --utrecht-badge-color: rgb(74 111 120);
  --cardgroup-card-justify-content: start;
  --utrecht-icon-size: 1em;
  --utrecht-icon-inset-block-start: 0.12em;
}

.blog-card__header-link {
  --utrecht-link-text-decoration: none;
}

.blog-card__header-link:hover {
  --utrecht-link-text-decoration: underline;
}

.blog-card__badge {
  display: flex;
  gap: 4px;
  margin-block-start: 24px;
}
