.navbar-logo {
  --utrecht-link-text-decoration: none;
  --ifm-link-hover-decoration: none;
  --utrecht-link-color: currentColor;
  --utrecht-link-focus-color: #00303d;

  display: flex;
  gap: 0.5rem;
}

.navbar-logo__icon {
  display: none;
  height: 40px;
  margin-right: 0;
  width: 40px;
}

.navbar-logo__title {
  font-family: var(--nlds-typography-alternative-font-family);
  font-size: 20px;
  font-weight: 600;
}

@media screen and (width <= 350px) {
  .navbar-logo {
    flex-grow: 1;
    padding-inline-start: 12px;
  }

  .navbar-logo__title {
    font-size: 18px;
  }
}

@media screen and (width >= 350px) and (width <= 400px) {
  .navbar-logo {
    min-width: 13.875rem;
  }
}

@media (width >= 1150px) {
  .navbar-logo__icon {
    display: block;
  }
}

@media (width >= 1100px) {
  .navbar-logo__title {
    font-size: 28px;
  }
}
