.ams-progress-list-substeps {
  margin-inline-start: var(--basis-space-inline-md);
}

.ams-progress-list-substeps__indicator {
  margin-block-start: var(--basis-space-block-md);
}

.progress-list {
  --utrecht-paragraph-margin-block-start: 0;
  --utrecht-paragraph-margin-block-end: 0;
  margin-block-end: var(--basis-space-block-2xl);
}

.admonition__decorator-img {
  inline-size: 100px;
  display: flex;
  justify-self: end;
}
