/**
 * CSS files with the .css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  overflow: hidden;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

@media screen and (width <= 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}
