/* stylelint-disable-next-line selector-class-pattern */
.navbar-sidebar {
  block-size: 100%;
  border: 0;
  inset: 0;
  inset-block-end: 0;
  margin-block: 0;
  margin-inline: 0;
  max-block-size: 100%;
  padding-block: 0;
  padding-inline: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.navbar-sidebar::backdrop {
  background-color: #0009;
}
