:root {
  --doc-sidebar-width: 320px;
  --doc-sidebar-hidden-width: 48px;
}

.docSidebarContainer {
  display: none;
}

@media (width >= 997px) {
  .docSidebarContainer {
    bottom: 40px;
    display: block;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
  }

  .sidebarViewport {
    height: 100%;
  }
}
