.nlds-anatomy-list {
  column-gap: 2rem;
  counter-reset: count 0;
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  row-gap: 0.5rem;
}

.nlds-anatomy-list__item {
  list-style: none;
  padding-inline-start: calc(
    var(--nl-anatomy-marker-min-inline-size, 2rem) + (4 * var(--nl-anatomy-marker-padding-inline, 0.125rem))
  );
  position: relative;
}

.nlds-anatomy-marker,
.nlds-anatomy-list__item::before {
  border-width: var(--nl-number-badge-border-width, 1px);
  box-sizing: border-box;
  color: var(--nl-number-badge-color);
  counter-increment: count 1;
  display: inline-flex;
  font-family: var(--nl-number-badge-font-family);
  font-size: max(var(--nl-number-badge-font-size), 1rem);
  font-style: normal;
  font-variant-numeric: lining-nums tabular-nums;
  font-weight: var(--nl-number-badge-font-weight, bold);
  inset-block-start: calc(-1 * var(--nl-anatomy-marker-padding-inline, 0.125rem));
  inset-inline-start: 0;
  justify-content: center;
  max-block-size: max-content;
  max-inline-size: max-content;
  min-block-size: var(--nl-anatomy-marker-min-block-size, 2rem);
  min-inline-size: var(--nl-anatomy-marker-min-inline-size, 2rem);
  padding-block: var(--nl-anatomy-marker-padding-block, 0.125rem);
  padding-inline: var(--nl-anatomy-marker-padding-inline, 0.125rem);
  position: absolute;
}

.nlds-anatomy-list__item::before {
  background-color: #de00a4;
  border-radius: 100%;
  color: white;
  content: counter(count);
  margin-inline-end: 1ch;
  min-block-size: 32px;
  min-inline-size: 32px;
  vertical-align: middle;
}

@media screen and (forced-colors: active) {
  .nlds-anatomy-list__item::before {
    border-color: currentColor !important;
    border-width: max(var(--nl-number-badge-min-border-width, 0), 1px) !important;

    /* Warning: there layout difference because of the added 1px border */
    color: currentColor !important;
  }
}
