.bingo {
}

.bingo__form {
  display: grid;
  grid-template-columns: repeat(5, 50px);
}

.bingo__number {
  background-color: white;
  border: 1px solid black;
  position: relative;
}

.bingo__input {
  left: -100vw;
  position: absolute;
}

.bingo__label {
  display: block;
  padding: 10px 0;
  text-align: center;
}

.bingo__number:focus-within > .bingo__label {
  background-color: var(--nlds-focus-background-color);
}

.bingo__input:checked ~ .bingo__label {
  background-color: var(--nlds-status-hall-of-fame-background-color);
  color: var(--nlds-status-hall-of-fame-color);
}

.bingo_items {
  margin-inline-start: 15px;
}

.bingo-item--checked {
  color: grey;
  text-decoration: line-through;
}
