.blog-post {
  --cardgroup-card-background-color: var(--nlds-blog-post-footer-background-color);
  --utrecht-data-list-item-key-font-size: 1.25rem;
  --utrecht-data-list-item-key-font-weight: 600;
}

.blog-post__html-content {
  --utrecht-space-around: 1;
}

.blog-post__footer {
  margin-block-start: 24px;
}
