.breadcrumbsContainer {
  --ifm-breadcrumb-size-multiplier: 0.8;

  margin-bottom: 0.8rem;
}

.breadcrumbs {
  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
  padding-inline-start: 0;
}

.breadcrumbs--mobile {
  display: none;
}

@media screen and (width <= 996px) {
  .breadcrumbs--mobile {
    color: var(--nlds-interaction-color);
    display: inline-flex;
  }

  .breadcrumbs--desktop {
    display: none;
  }
}

.breadcrumbs__link {
  color: var(--nlds-interaction-color);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: var(--nlds-interaction-color);
}

.breadcrumbs__item {
  list-style: none;
}

.breadcrumbs__item--last {
  color: var(--nlds-document-subtle-color);
}

.breadcrumbs__separator {
  color: var(--nlds-document-subtle-color);
  stroke-width: 1;
}
