.cardgroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-block-end: 40px;
  gap: 32px;
  --utrecht-heading-2-font-size: 28px;
}

.cardgroup__card {
  background-color: white;
  box-shadow: 4px 4px #d1d1d1;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  color: #00303d;
  min-height: 286px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage-card__illustration {
  background-color: #00303d;
  display: flex;
}

.homepage-card__content {
  padding-inline: 16px;
  padding-block-end: 36px;
}

@media (max-width: 996px) {
  .cardgroup__card {
    min-height: fit-content;
  }
  .cardgroup {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cardgroup {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
