.cardgroup {
  display: grid;
  --utrecht-heading-2-font-size: 28px;
}

.cardgroup--small {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-block-end: 16px;
  gap: 32px;
}

.cardgroup--medium {
  grid-template-columns: 1fr 1fr;
  padding-block-end: 40px;
  gap: 32px;
}

.cardgroup--large {
  padding-block-start: 24px;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  gap: 24px;
}

.cardgroup__card {
  background-color: white;
  box-shadow: 4px 4px #d1d1d1;
  border: 1px solid #d1dfe3;
  box-sizing: border-box;
  color: #00303d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardgroup__card--small {
  box-shadow: none;
  min-height: 90px;
  justify-content: center;
}

.cardgroup__card--medium {
  min-height: 286px;
}

.cardgroup__card--large {
  flex-direction: var(--cardgroup-card-flex-direction, column);
  justify-content: var(--cardgroup-card-justify-content, space-between);
}

.card__link {
  display: flex;
  height: 100%;
  justify-content: center;
}

.card__link:hover {
  box-shadow: 4px 4px #d1d1d1;
  border: 1px solid #d1dfe3;
}

.card__illustration {
  display: flex;
  align-self: center;
  justify-content: center;
}

.card__illustration--background {
  background-color: #00303d;
}

.card__section {
  padding-inline: var(--card-content-padding-inline, 24px);
  padding-block-start: var(--card-content-padding-block-start);
  padding-block-end: var(--card-content-padding-block-end, 36px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 996px) {
  .cardgroup--medium {
    min-height: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cardgroup--medium {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .cardgroup__card--large {
    flex-direction: column;
    max-width: max-content;
    justify-content: var(--cardgroup-card-justify-content, space-between);
  }
}
