.component-card {
  --cardgroup-card-flex-direction: row-reverse;
  --cardgroup-card-justify-content: space-between;
  --card-content-padding-block-end: 0;
  padding-block-start: 24px;
  padding-block-end: 36px;
}

.component-card__title {
  --utrecht-heading-3-margin-block-start: 0;
}

.component-name {
  text-transform: lowercase;
}
