.ma-definition-of-done {
  --utrecht-heading-3-margin-block-end: 0;
  --nl-button-subtle-border-width: 0;

  fill: var(--utrecht-accordion-button-color);
}

.ma-definition-of-done--help-wanted {
  --nl-button-subtle-background-color: var(--ma-color-help-wanted-bg-default);
  --nl-button-subtle-color: var(--ma-color-help-wanted-color-default);
  --nl-button-subtle-hover-background-color: var(--ma-color-help-wanted-bg-hover);
  --nl-button-subtle-hover-color: var(--ma-color-help-wanted-color-hover);
  --nl-button-subtle-active-background-color: var(--ma-color-help-wanted-bg-active);
  --nl-button-subtle-active-color: var(--ma-color-help-wanted-color-active);
  --utrecht-accordion-panel-border-color: var(--ma-color-help-wanted-bg-default);
}

.ma-definition-of-done--community {
  --nl-button-subtle-background-color: var(--ma-color-community-bg-default);
  --nl-button-subtle-color: var(--ma-color-community-color-default);
  --nl-button-subtle-hover-background-color: var(--ma-color-community-bg-hover);
  --nl-button-subtle-hover-color: var(--ma-color-community-color-hover);
  --nl-button-subtle-active-background-color: var(--ma-color-community-bg-active);
  --nl-button-subtle-active-color: var(--ma-color-community-color-active);
  --utrecht-accordion-panel-border-color: var(--ma-color-community-bg-default);
}

.ma-definition-of-done--candidate {
  --nl-button-subtle-background-color: var(--ma-color-candidate-bg-default);
  --nl-button-subtle-color: var(--ma-color-candidate-color-default);
  --nl-button-subtle-hover-background-color: var(--ma-color-candidate-bg-hover);
  --nl-button-subtle-hover-color: var(--ma-color-candidate-color-hover);
  --nl-button-subtle-active-background-color: var(--ma-color-candidate-bg-active);
  --nl-button-subtle-active-color: var(--ma-color-candidate-color-active);
  --utrecht-accordion-panel-border-color: var(--ma-color-candidate-bg-default);
}

.ma-definition-of-done--hall-of-fame {
  --nl-button-subtle-background-color: var(--ma-color-hall-of-fame-bg-default);
  --nl-button-subtle-color: var(--ma-color-hall-of-fame-color-default);
  --nl-button-subtle-hover-background-color: var(--ma-color-hall-of-fame-bg-hover);
  --nl-button-subtle-hover-color: var(--ma-color-hall-of-fame-color-hover);
  --nl-button-subtle-active-background-color: var(--ma-color-hall-of-fame-bg-active);
  --nl-button-subtle-active-color: var(--ma-color-hall-of-fame-color-active);
  --utrecht-accordion-panel-border-color: var(--ma-color-hall-of-fame-bg-default);
}

.ma-implementation-card-group {
  --ma-cardgroup-large-padding-block-start: 0;
  --ma-cardgroup-large-padding-block-end: 0;
}

.ma-implementation-card {
  --ma-component-progress-background-color--checked: var(--ma-color-community-bg-default);
  --ma-component-progress-background-color--unchecked: var(--ma-color-community-color-default);
  --utrecht-link-list-link-column-gap: 0.25em;
  --utrecht-link-list-icon-inset-block-start: 0.25em;
  --nl-heading-level-4-margin-block-start: 1.25rem;
}

.ma-implementation-card .nl-heading--level-4:first-of-type {
  --nl-heading-level-4-margin-block-start: 0;
}
