.definition-of-done {
  --utrecht-heading-3-margin-block-end: 0;
  fill: var(--utrecht-accordion-button-color);
}

.definition-of-done--help-wanted {
  --utrecht-accordion-button-background-color: var(--nlds-status-help-wanted-background-color);
  --utrecht-accordion-button-color: var(--nlds-status-help-wanted-color);
  --utrecht-accordion-panel-border-color: var(--nlds-status-help-wanted-background-color);
}

.definition-of-done--community {
  --utrecht-accordion-button-background-color: var(--nlds-status-community-background-color);
  --utrecht-accordion-button-color: var(--nlds-status-community-color);
  --utrecht-accordion-panel-border-color: var(--nlds-status-community-background-color);
}

.definition-of-done--candidate {
  --utrecht-accordion-button-background-color: var(--nlds-status-unstable-background-color);
  --utrecht-accordion-button-color: var(--nlds-status-unstable-color);
  --utrecht-accordion-panel-border-color: var(--nlds-status-unstable-background-color);
}

.definition-of-done--hall-of-fame {
  --utrecht-accordion-button-background-color: var(--nlds-status-stable-background-color);
  --utrecht-accordion-button-color: var(--nlds-status-stable-color);
  --utrecht-accordion-panel-border-color: var(--nlds-status-stable-background-color);
}

.implementation-card-group {
  --cardgroup-large-padding-block-start: 0;
  --cardgroup-large-padding-block-end: 0;
}

.implementation-card {
  --component-progress-background-color--checked: var(--nlds-status-community-background-color);
  --component-progress-background-color--unchecked: var(--nlds-status-community-color);
  --utrecht-link-list-link-column-gap: 0.25em;
  --utrecht-link-list-icon-inset-block-start: 0.25em;
}
