.utrecht-accordion--nlds-subtle {
  --utrecht-button-padding-inline-start: 0;
  --utrecht-accordion-panel-border-color: transparent;
  --utrecht-accordion-panel-padding-inline-start: 1.5em;
  --utrecht-accordion-panel-padding-block-start: 0;
}
