.ma-component-criteria-section__heading {
  display: inline-block;
}

.ma-component-criteria-section {
  border: solid 1px #ccc;
  margin-block-end: 1em;
  padding: 1em;
}

.ma-component-criteria-section__dl {
  display: grid;
  grid-gap: var(--basis-space-column-sm) var(--basis-space-column-lg);
  grid-template-columns: max-content;
}
.ma-component-criteria-section__dt {
  font-weight: 700;
}
.ma-component-criteria-section__dd {
  grid-column-start: 2;
  margin: 0;
}
