.core-team {
  display: grid;
  gap: 8px;
  max-height: 200px;
  align-items: baseline;
  margin-block-start: 30px;
  width: 100%;
  grid-auto-flow: column;
}

.core-team__avatar {
  max-height: 200px;
}
