.ma-definition-list {
}

.ma-definition {
  margin-block-end: 1rem;
}

.ma-definition__title {
  display: inline;
  font-weight: 700;
}

.ma-definition__title::after {
  content: ": ";
}

.ma-definition__data {
  display: inline;
  margin: 0;
}
