.definition-list {
}

.definition {
  margin-block-end: 1rem;
}

.definition__title {
  display: inline;
  font-weight: 700;
}

.definition__title::after {
  content: ": ";
}

.definition__data {
  display: inline;
  margin: 0;
}
