.dsw-session {
  margin-block: 2em;
}

.dsw-session {
  border-block-end: 4px dotted #ccc;
  margin-block-end: 1em;
  padding-block-end: 2.5em;
}

.dsw-session:first-of-type {
  border-block-start: 4px dotted #ccc;
}

.dsw-session__title {
  --utrecht-heading-2-margin-block-end: 0.1em;

  font-size: 1.5em;
  margin-top: inherit !important;
}

.dsw-session__subtitle {
  --utrecht-paragraph-margin-block-start: 0;
}

.dsw-session__speakers {
  margin-block: 2em;
}

.dsw-speaker {
  --utrecht-paragraph-margin-block-start: 0;

  display: flex;
  flex-direction: row;
  font-style: italic;
  gap: 1em;
  margin: 0;
  margin-block: 1em;
}

.dsw-session:nth-child(even) .dsw-speaker {
  flex-direction: row-reverse;
}

.dsw-speaker__image {
  height: 100%;
  margin-block-start: 0.4em;
  max-width: 5em;
}

.dsw-session__video {
  aspect-ratio: 16 / 9;
  margin-block-end: 32px;
  margin-block-start: 24px;
  position: relative;
}
.dsw-session__video > div {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.dsw-session__video iframe {
  max-width: 100%;
}
