.ma-dsw-session {
  margin-block: 2em;
}

.ma-dsw-session {
  border-block-end: 4px dotted #ccc;
  margin-block-end: 1em;
  padding-block-end: 2.5em;
}

.ma-dsw-session:first-of-type {
  border-block-start: 4px dotted #ccc;
}

.ma-dsw-session__title {
  --utrecht-heading-2-margin-block-end: 0.1em;

  font-size: 1.5em;
  margin-block-start: inherit !important;
}

.ma-dsw-session__subtitle {
  --utrecht-paragraph-margin-block-start: 0;
}

.ma-dsw-session__speakers {
  margin-block: 2em;
}

.ma-dsw-speaker {
  --utrecht-paragraph-margin-block-start: 0;

  display: flex;
  flex-direction: row;
  font-style: italic;
  gap: 1em;
  margin: 0;
  margin-block: 1em;
}

.ma-dsw-speaker__image {
  block-size: 100%;
  margin-block-start: 0.4em;
  max-inline-size: 5em;
}

.ma-dsw-session__video {
  aspect-ratio: 16 / 9;
  margin-block-end: 32px;
  margin-block-start: 24px;
  position: relative;
}
.ma-dsw-session__video > div {
  inset-block-start: 0;
  inset-inline: 0;
  position: absolute;
}
.ma-dsw-session__video iframe {
  max-inline-size: 100%;
}
