.ma-estafette-badge {
  --utrecht-badge-line-height: var(--ma-estafette-badge-line-height, 24px);
  --utrecht-badge-padding-block: var(--ma-estafette-badge-block, 4px);
  --utrecht-badge-padding-inline: var(--ma-estafette-badge-padding-inline, 8px);

  border-color: var(--ma-estafette-badge-border-color, var(--ma-estafette-badge-color));
  border-style: solid;
  border-width: var(--ma-estafette-badge-border-width, 0);
  vertical-align: middle;
}

.ma-estafette-badge--todo {
  --ma-estafette-badge-border-width: 1px;
}

.ma-estafette-badge--help-wanted {
  --utrecht-data-badge-background-color: var(--ma-color-help-wanted-bg-default);
  --utrecht-data-badge-color: var(--ma-color-help-wanted-color-default);
}

.ma-estafette-badge--community {
  --utrecht-data-badge-background-color: var(--ma-color-community-bg-default);
  --utrecht-data-badge-color: var(--ma-color-community-color-default);
}

.ma-estafette-badge--candidate {
  --utrecht-data-badge-background-color: var(--ma-color-candidate-bg-default);
  --utrecht-data-badge-color: var(--ma-color-candidate-border-default);
}

.ma-estafette-badge--hall-of-fame {
  --utrecht-data-badge-background-color: var(--ma-color-hall-of-fame-bg-default);
  --utrecht-data-badge-color: var(--ma-color-hall-of-fame-color-default);
}
