.homepage-actions {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 40px;
  gap: 32px;
}

@media (max-width: 996px) {
  .homepage-actions {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
