.homepage-teaser {
  background-color: #027bb0; /* Contrast ratio to white foreground color passes with 4.7:1 */
  padding-inline: 16px;
  padding-block: 24px;
  box-shadow: 4px 4px #d1d1d1;
  border: 2px solid #027bb0;
  box-sizing: border-box;
  color: white;
  min-height: 300px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.homepage-teaser__title {
  max-width: 80%;
}

.homepage-teaser__link:hover .homepage-teaser__title {
  color: white;
  text-decoration: underline;
}

.homepage-teaser p a,
.homepage-teaser li a {
  /* Target link in paragraphs and lists, but not in CtA button (likely better to style CtA button accordingly instead!) */
  color: white;
  text-decoration: underline;
}

.homepage-teaser:last-child div:last-child a {
  /* Quick dirty hack to temporarily disable call-to-action button in last homepage teaser module */
  display: none !important;
}
