.homepage-footer {
  --utrecht-document-color: currentColor;
  --utrecht-link-color: currentColor;
  --utrecht-link-text-decoration-color: currentColor;
  --utrecht-heading-2-font-size: 18px;
  background-color: var(--nlds-document-inverse-background-color);
  padding-block: 32px;
  color: var(--nlds-document-inverse-color);
  --ifm-link-color: currentColor;
  --ifm-link-hover-color: currentColor;
}

.homepage-footer__content {
  --utrecht-space-around: 0;
  display: flex;
  gap: 24px;
  max-width: 500px;
  align-items: center;
}
