.homepage-hero {
  background-color: #74295f;
  color: white;
  margin-block-start: 40px;
}

.homepage-hero__title {
  font-family: "league_gothic";
  font-size: 50px;
  line-height: 44px;
  font-weight: normal;
  padding-inline: 32px;
  padding-block: 24px;
  background-color: #4e1c40;
  margin: 0;
}

.homepage-hero__description {
  font-size: 20px;
  padding-block-start: 24px;
  padding-inline: 32px;
}

.homepage-hero__images {
  display: flex;
  justify-content: center;
  margin-block: 32px;
}

.homepage-hero__image {
  max-width: 150px;
  width: 25%;
  display: flex;
  width: 1fr;
}

.homepage-hero__call-to-action {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: break-spaces;
  padding: 32px;
  padding-block-start: 12px;
}

@media (max-width: 996px) {
  .homepage-hero__call-to-action {
    font-size: 16px;
    font-family: var(--ifm-font-family-base);
    text-transform: capitalize;
    line-height: 1.5;
  }
}
