.homepage-updates {
  background-color: #f9f6f3;
}

.homepage-updates__linear-gradient {
  background-image: linear-gradient(to top left, transparent 50%, white 50%);
  height: 80px;
}

@media screen and (min-width: 996px) {
  .homepage-hero__linear-gradient {
    height: 40px;
  }
}
