.homepage-hero {
  --utrecht-heading-1-font-size: 32px;
  --utrecht-document-color: white;
  --utrecht-link-color: white;
  --utrecht-link-text-decoration-color: white;

  background-color: #74295f;
  color: white;
  margin-block-end: 48px;
  padding-block: 80px;
}

.homepage-hero__container {
  padding-block-end: 40px;
}

.homepage-hero__title {
  margin: 0;
  margin-block-end: 18px;
}

.homepage-hero__description {
  font-size: 20px;
}

.homepage-hero__images {
  display: flex;
  justify-content: center;
  margin-block: 32px;
}

.homepage-hero__image {
  display: flex;
  max-width: 150px;
  width: 25%;
  width: 1fr;
}

.homepage-hero__call-to-action {
  margin-block-start: 48px;
}

@media screen and (width >= 996px) {
  .homepage-hero {
    --utrecht-paragraph-lead-font-size: 24px;
    --utrecht-paragraph-font-size: 20px;
    --utrecht-paragraph-margin-block-end: 18px;
    --utrecht-unordered-list-margin-block-start: 24px;
    --utrecht-document-font-size: 20px;
    --utrecht-heading-1-font-size: 40px;
  }
}
