.homepage-teaser {
  background-color: white;
  padding-inline: 16px;
  padding-block: 24px;
  box-shadow: 4px 4px #d1d1d1;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  color: #00303d;
  min-height: 300px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.homepage-teaser__title {
  font-size: 2.5rem;
  max-width: 80%;
  font-family: "league_gothic";
  text-transform: uppercase;
  font-weight: normal;
}

.homepage-teaser__link:hover .homepage-teaser__title {
  color: #c42c76;
  text-decoration: underline;
}
