.status-visual {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

@media (min-width: 600px) {
  .status-visual {
    grid-template-columns: repeat(4, 1fr);
  }
}

.status-visual__status--help-wanted {
  background-color: var(--nlds-status-help-wanted-background-color);
  color: var(--nlds-status-help-wanted-color);
}

.status-visual__status--community {
  background-color: var(--nlds-status-community-background-color);
  color: var(--nlds-status-community-color);
}

.status-visual__status--unstable {
  background-color: var(--nlds-status-candidate-background-color);
  color: var(--nlds-status-candidate-color);
}

.status-visual__status--stable {
  background-color: var(--nlds-status-hall-of-fame-background-color);
  color: var(--nlds-status-hall-of-fame-color);
}

.status-visual__title {
  display: flex;
  font-weight: bold;
  font-size: var(--basis-typography-font-size-lg);
  margin: 0;
  padding: 1rem;
}

.status-visual__connector {
  height: 1.5rem;
  width: 1.5rem;
  margin-inline-end: 0.5rem;
}

.status-visual__description {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
}
