.status-visual__status {
  align-items: center;
  border-bottom: 2px solid var(--nlds-status-border-color);
  display: flex;
  flex-direction: column;
  padding-block-end: 32px;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
  text-align: center;
}

.status-visual__connector {
  color: var(--nlds-status-border-color);
  display: block;
  height: 24px;
  margin-top: -2px;
  width: 24px;
}

.status-visual__status--help-wanted {
  background-color: var(--nlds-status-help-wanted-background-color);
  color: var(--nlds-status-help-wanted-color);
}

.status-visual__status--community {
  background-color: var(--nlds-status-community-background-color);
  color: var(--nlds-status-community-color);
}

.status-visual__status--unstable {
  background-color: var(--nlds-status-unstable-background-color);
  color: var(--nlds-status-unstable-color);
}

.status-visual__status--stable {
  background-color: var(--nlds-status-stable-background-color);
  color: var(--nlds-status-stable-color);
}

.status-visual__title {
  font-size: 24px;
  line-height: 24px;
  margin-block-end: 16px;
  margin-block-start: 24px;
}
.status-visual__description {
  margin-inline-start: 0;
}
