.status-visual {
  display: flex;
  flex-direction: column;
}

.status-visual__connector-wrapper {
  display: flex;
  justify-content: center;
  inline-size: 100%;
}

.status-visual__connector {
  inline-size: 24px;
  block-size: 24px;
  margin-block-start: -2px;
  color: var(--nlds-status-border-color);
}

.status-visual__title.status-visual--help-wanted,
.status-visual__description.status-visual--help-wanted {
  background-color: var(--nlds-status-help-wanted-background-color);
  color: var(--nlds-status-help-wanted-color);
}

.status-visual__title.status-visual--community,
.status-visual__description.status-visual--community {
  background-color: var(--nlds-status-community-background-color);
  color: var(--nlds-status-community-color);
}

.status-visual__title.status-visual--unstable,
.status-visual__description.status-visual--unstable {
  background-color: var(--nlds-status-candidate-background-color);
  color: var(--nlds-status-candidate-color);
}

.status-visual__title.status-visual--stable,
.status-visual__description.status-visual--stable {
  background-color: var(--nlds-status-hall-of-fame-background-color);
  color: var(--nlds-status-hall-of-fame-color);
}

.status-visual__title {
  font-size: 24px;
  line-height: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 24px;
  padding-block-end: 16px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
}

.status-visual__description {
  margin-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-end: 32px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  border-block-end: 2px solid var(--nlds-status-border-color);
}
