.story {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.story__link {
  background-color: var(--ifm-button-color);
  color: var(--ifm-background-color);
  display: block;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
}

.story__link:hover {
  color: white;
  text-decoration: underline;
}
