.ma-terms-list__item {
  margin-block-end: 32px;
}

.ma-terms-list__definition {
  margin-inline-start: 0;
}

.ma-terms-list__definition__sources {
  margin-block-start: calc(var(--utrecht-space-around, 0) * var(--utrecht-paragraph-margin-block-start, 0));
}
