/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00303d;
  --ifm-color-primary-dark: #00303d;
  --ifm-color-primary-darker: #00303d;
  --ifm-color-primary-darkest: #00303d;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-background-color: #fff;
  --ifm-code-font-size: 95%;
  --ifm-code-border-radius: 0;
  --ifm-font-family-base: "Source Sans Pro";
  --ifm-font-weight-semibold: 600;
  --ifm-button-border-radius: 0;
  --ifm-button-padding-vertical: 8px;
  --ifm-button-padding-horizontal: 16px;
  --ifm-button-color: #004152;
  --ifm-h1-font-size: 1.5rem;
  --ifm-heading-font-weight: 700;
  --ifm-heading-font-family: "Fira Sans";
  --ifm-footer-background-color: #00303d;
  --ifm-footer-color: white;
  --ifm-footer-padding-vertical: 0;
  --ifm-footer-padding-horizontal: 0;
  --ifm-footer-link-hover-color: white;
  --ifm-navbar-background-color: #00303d;
  --ifm-navbar-link-hover-color: white;
  --ifm-navbar-padding-vertical: 16px;

  --nlds-status-help-wanted-background-color: #4e1c40;
  --nlds-status-help-wanted-color: #fff;
  --nlds-status-community-background-color: #027bb0;
  --nlds-status-community-color: #fff;
  --nlds-status-unstable-background-color: #148839;
  --nlds-status-unstable-color: #fff;
  --nlds-status-stable-background-color: #f99d1c;
  --nlds-status-stable-color: #00303d;

  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
}

.button {
  box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding-block: 8px;
  padding-inline-end: 24px;
  padding-inline-start: 16px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  position: relative;
}

.button.button--primary {
  --ifm-button-background-color: #148839;
  --ifm-button-color: #fff;
  border-color: #148839;
}

.button--primary::after {
  content: " ";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  background-color: #0b732c;
  background-image: url("../icons/arrow-right-white.svg");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  transition: background 0.2s;
  background-position: center;
}

.button.button--primary:hover {
  background-color: #0b732c;
}

.button--primary:hover::after {
  background-color: #055c21;
}

.button.button--secondary {
  color: #004152;
}

.button--secondary::after {
  content: " ";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  background-color: #d1dfe3;
  background-image: url("../icons/arrow-right-blue.svg");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  transition: background 0.2s;
  background-position: center;
}

.button.button--secondary:hover {
  background-color: #004152;
  color: white;
  border-color: #004152;
}

.button--secondary:hover::after {
  background-color: #00303d;
  background-image: url("../icons/arrow-right-white.svg");
}

.footer {
  width: 100%;
}

.footer--dark {
  --ifm-footer-background-color: #00303d;
  --ifm-footer-color: white;
  --ifm-footer-link-hover-color: white;
}

.footer__items {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 36px;
}

.footer__links {
  justify-content: space-between;
}

.footer__links .col {
  flex: none;
  width: fit-content;
}

.footer__link-item svg {
  display: none;
}

.footer__items {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 36px;
}

.footer__links {
  justify-content: space-between;
}

.footer__links .col {
  flex: none;
  width: fit-content;
}

.footer__link-item svg {
  display: none;
}

.hero--primary {
  margin-top: 4rem;
  background-color: white;
}

.hero--primary .container {
  background-color: #74295f;
  padding-bottom: 4rem;
}

.hero--primary .hero__title {
  background-color: #4e1c40;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Overwrite docusaurus styling but use the classname to enable lookup for content position by docusaurus */
.navbar {
  display: unset;
  height: auto;
  padding: 0;
}

.navbar__link {
  font-weight: 600;
  font-size: 18px;
  position: relative;
}

/* FIXME: when the navbar is custom this should be simpler. Currently the home link is always active */
.navbar__link--active:not([href="/"]):after,
.navbar__link:hover:after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: #148839;
  position: absolute;
  bottom: -20px;
  left: 0px;
}

.navbar--dark {
  --ifm-navbar-background-color: var(--ifm-color-primary-darker);
  --ifm-navbar-link-hover-color: white;
}

.navbar__inner {
  padding: var(--ifm-navbar-padding-vertical) var(--ifm-navbar-padding-horizontal);
}

.navbar__brand {
  gap: 8px;
}

.navbar__logo {
  height: 40px;
  width: 40px;
  margin-right: 0;
}

.navbar__title {
  font-size: 28px;
  font-family: var(--nlds-typography-alternative-font-family);
  font-weight: 600;
}

.table-of-contents {
  font-size: 18px;
}

.nlds-theme {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  align-content: inherit;
  font-weight: 400;
}

.mega-footer-link,
.homepage-hero__description_src-components-HomepageHero-module a {
  /* Add white foreground color and underline to links in hero and footer */
  color: white;
  text-decoration: underline;
}

code,
pre {
  font-family: "Fira Code VF" !important;
  font-size: 16px;
  vertical-align: 1%;
  font-feature-settings: "cv13", "cv20", "ss01", "ss02", "ss03";
}
code {
  border-inline-start: 0;
  border-inline-end: 0;
  background-color: transparent !important;
  border-width: 0;
  padding: 0;
}

article {
  max-inline-size: 90ch;
}

p a,
li a {
  text-decoration: underline; /* Add underline to links in running paragraph text and lists */
  text-underline-offset: 0.2em;
}

[class^="homepage-hero__description"] p a {
  /* Dirty hack to target link in hero banner text */
  color: white;
  text-decoration: underline;
}

.theme-edit-this-page {
  /* Temporarily disable Edit this page link since not every page can be editted by the community */
  display: none;
}

.pagination-nav {
  display: none; /* Temporarily disabled pagination */
}
