/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root,
.nlds-theme {
  /* Override pixel values from Figma */
  --utrecht-heading-1-line-height: 1.1;
  --utrecht-heading-2-line-height: 1.3;
  --utrecht-heading-3-line-height: 1.3;
  --utrecht-heading-4-line-height: 1.4;

  --nlds-blog-post-footer-background-color: #f2ebe4;

  --nlds-navbar-link-active-border-color: #5eba5b;
  --nlds-sidebar-menu-item-active-border-color: #148839;

  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
  --ifm-container-width: 1030px;
  --ifm-container-width-xl: 1080px;
  --ifm-link-hover-color: currentColor;
  /* --docusaurus-announcement-bar-height: 50px; */
}
.container--narrow {
  --ifm-container-width: 784px;
  --ifm-container-width-xl: var(--ifm-container-width);
}

.utrecht-unordered-list {
  list-style-type: square;
}

.utrecht-unordered-list .utrecht-unordered-list__item::marker {
  content: "◼";
  font-size: 16px;
}

.button {
  box-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding-block-start: var(--utrecht-button-padding-block-start);
  padding-block-end: var(--utrecht-button-padding-block-end);
  padding-inline-end: calc(8px + var(--utrecht-button-icon-size) + var(--utrecht-button-padding-inline-end));
  padding-inline-start: var(--utrecht-button-padding-inline-start);
  font-size: var(--utrecht-button-font-size);
  line-height: var(--utrecht-button-line-height);
  position: relative;
  border: none;
}

.button.button--primary {
  --ifm-button-background-color: #148839;
  --ifm-button-color: #fff;
  border-color: #148839;
}

.button--primary::after {
  content: " ";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: var(--gc-button-icon-size);
  background-color: #0b732c;
  background-image: url("../icons/arrow-right-white.svg");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  transition: background-color 0.2s;
  background-position: center;
}

.button.button--primary:hover {
  background-color: #0b732c;
}

.button--primary:hover::after {
  background-color: #055c21;
}

.button.button--secondary {
  color: #004152;
}

.button--secondary::after {
  content: " ";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  background-color: #d1dfe3;
  background-image: url("../icons/arrow-right-blue.svg");
  background-size: 10px 16px;
  background-repeat: no-repeat;
  transition: background-color 0.2s;
  background-position: center;
}

.button.button--secondary:hover {
  background-color: #004152;
  color: white;
  border-color: #004152;
}

.button--secondary:hover::after {
  background-color: #00303d;
  background-image: url("../icons/arrow-right-white.svg");
}

.footer {
  width: 100%;
  padding-block: 16px;
}

.footer--dark {
  --ifm-footer-background-color: #00303d;
  --ifm-footer-color: white;
  --ifm-footer-link-hover-color: white;
}

.footer__items {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 36px;
}

.footer__links {
  justify-content: space-between;
}

.footer__links .col {
  flex: none;
  width: fit-content;
}

.footer__link-item svg {
  display: none;
}

.footer__items {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 36px;
}

.footer__links {
  justify-content: space-between;
}

.footer__links .col {
  flex: none;
  width: fit-content;
}

.footer__link-item svg {
  display: none;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Overwrite docusaurus styling but use the classname to enable lookup for content position by docusaurus */
.navbar {
  display: unset;
  height: auto;
  padding: 0;
  --ifm-link-hover-decoration: none;
}

.navbar__link {
  --utrecht-link-text-decoration: none;
  --utrecht-link-color: currentColor;
  --utrecht-link-focus-color: #00303d;
  font-size: 18px;
  position: relative;
  text-decoration: none;
}

/* FIXME: when the navbar is custom this should be simpler. Currently the home link is always active */
.navbar__link--active:not(.navbar__brand, .utrecht-button-link),
.navbar__link:not(.utrecht-button-link):hover {
  border-block-end-style: solid;
  border-block-end-width: 4px;
  border-block-end-color: var(--nlds-navbar-link-active-border-color, transparent);
  border-block-start-style: solid;
  border-block-start-width: 4px;
  border-block-start-color: transparent;
}

.navbar--dark {
  --ifm-navbar-background-color: var(--nlds-page-header-background-color);
  --ifm-navbar-link-hover-color: white;
  --ifm-menu-color-active: white;
}

.navbar__inner {
  min-height: 64px;
  align-items: center;
  flex-wrap: nowrap;
}
.table-of-contents {
  font-size: 18px;
}

.nlds-theme {
  min-height: 100vh;
  align-content: inherit;
  font-weight: 400;
}

.main-layout {
  display: grid;
  grid-template-areas:
    "skip-link"
    "announcement-bar"
    "header"
    "main-content"
    "footer";
  grid-template-rows: auto auto auto 1fr auto;
}

[aria-label="Ga naar hoofdinhoud"] {
  grid-area: skip-link;
}

.navbar {
  grid-area: header;
}

.main-wrapper {
  grid-area: main-content;
}

.footer {
  grid-area: footer;
}

.mega-footer-link,
.homepage-hero__description_src-components-HomepageHero-module a {
  /* Add white foreground color and underline to links in hero and footer */
  color: white;
  text-decoration: underline;
}

.homepage-hero_src-components-HomepageHero-module {
  --ifm-h1-font-size: var(--utrecht-heading-3-font-size);
}

code,
pre {
  font-family: "Fira Code VF" !important;
  font-size: 16px;
  vertical-align: 1%;
  font-feature-settings: "cv13", "cv20", "ss01", "ss02", "ss03";
}
code {
  border-inline-start: 0;
  border-inline-end: 0;
  background-color: transparent !important;
  border-width: 0;
  padding: 0;
}

article {
  max-inline-size: var(--utrecht-article-max-inline-size);
}

p a,
li a {
  text-decoration: underline; /* Add underline to links in running paragraph text and lists */
  text-underline-offset: 0.2em;
}

[class^="homepage-hero__description"] p a {
  /* Dirty hack to target link in hero banner text */
  color: white;
  text-decoration: underline;
}

.theme-edit-this-page {
  /* Temporarily disable Edit this page link since not every page can be editted by the community */
  display: none;
}

.pagination-nav {
  display: none; /* Temporarily disabled pagination */
}

.utrecht-ordered-list {
  width: auto !important;
}

.voorbeeld-theme {
  --utrecht-button-group-margin-block-start: 20px;
}

.navbar__items {
  gap: 16px;
}

.navbar__items--right {
  gap: 0;
}

.navbar__item:not(.utrecht-button-link, .utrecht-button) {
  height: 100%;
  padding-inline: 0;
  display: flex;
  align-items: center;
}

.navbar {
  --utrecht-button-subtle-color: white;
  --utrecht-link-color: white;
  --utrecht-item-subtle-hover-color: white;
  --utrecht-button-subtle-hover-background-color: #004152;
  --utrecht-link-hover-color: white;
  --utrecht-link-hover-background-color: #004152;
  --utrecht-button-subtle-active-color: white;
  --utrecht-button-subtle-active-background-color: #224a62;
  --utrecht-link-active-color: white;
  --utrecht-link-active-background-color: #224a62;
}

.navbar-sidebar__item {
  padding-block: 16px;
  padding-inline: 0;
}

.menu__list .menu__list {
  padding-inline: 0;
}

.menu__list {
  --utrecht-button-subtle-color: var(--utrecht-link-color);
  --utrecht-button-focus-color: var(--nlds-focus-color);
  --utrecht-button-icon-size: 28px;
}

.menu__link {
  --utrecht-link-text-decoration: none;
  --utrecht-link-color: var(--nlds-interaction-color);
  text-decoration: none;
  border-radius: 0;
  margin-inline-start: 4px;
  line-height: 1.5;
  padding-block: 0.75rem;
}

.menu__link--active,
.menu__link:active {
  background-color: hsla(0, 0%, 0%, 0.05);
  margin-inline-start: 0;
  border-inline-start-width: 4px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--nlds-sidebar-menu-item-active-border-color);
}

.menu__link:hover {
  margin-inline-start: 0;
  border-inline-start-width: 4px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--nlds-sidebar-menu-item-active-border-color);
}

.menu__list-item-collapsible {
  border-radius: 0;
}

.doc-sidebar-main-category {
  display: none;
}

.navbar-sidebar__item .menu__link {
  --utrecht-link-color: white;
}

.navbar-sidebar__item .menu__link--active,
.navbar-sidebar__item .menu__link:active {
  --utrecht-link-color: white;
  background-color: var(--nlds-menu-item-selected-background-color);
}

.navbar-sidebar .navbar__item--github-link {
  margin-block-start: 48px;
}

.sidebar__main-category {
  display: none;
}

.menu__list-item-collapsible > .menu__link--active:not([aria-expanded="false"], :hover) {
  border-color: transparent;
}

.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-category-level-3 {
  font-weight: normal;
  padding-inline-start: 0;
}

.theme-doc-sidebar-item-link-level-3 a,
.theme-doc-sidebar-item-category-level-3 a {
  padding-inline-start: 24px;
}

.theme-doc-sidebar-item-link-level-4 {
  padding-inline-start: 0;
}

.theme-doc-sidebar-item-link-level-4 a,
.theme-doc-sidebar-item-category-level-4 a {
  padding-inline-start: 40px;
}

.theme-doc-sidebar-item-link-level-5 a {
  padding-inline-start: 56px;
}

.doc-card-list {
  margin-block-end: 2em !important;
}

@media (min-width: 997px) {
  .navbar__items--left {
    max-width: 945px;
  }

  .navbar__inner {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    align-items: center;
    min-height: 80px;
    gap: 20px;
  }

  .navbar__items {
    align-self: stretch;
  }

  .navbar .navbar__toggle {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .navbar .navbar__item {
    display: none;
  }

  .navbar-sidebar {
    --ifm-menu-link-padding-horizontal: 16px;
  }

  .navbar .navbar__item--show-on-mobile {
    display: flex;
  }

  .navbar .navbar__items {
    display: none;
  }

  .navbar .navbar__items--show-on-mobile {
    display: flex;
  }

  .footer__items {
    gap: 16px;
  }

  .footer__col {
    margin-bottom: 0;
  }

  .sidebar__main-category {
    display: block;
    font-size: 28px;
    margin-block-end: 48px;
    padding-inline-start: 20px;
  }
}

@media screen and (max-width: 550px) {
  .footer__items {
    grid-auto-flow: row;
  }
}

a {
  transition: none;
}

body:not(.navigation-with-keyboard) *:not(input):focus {
  outline-color: var(--utrecht-focus-outline-color, revert);
  outline-offset: var(--utrecht-focus-outline-offset, revert);
  outline-style: var(--utrecht-focus-outline-style, revert);
  outline-width: var(--utrecht-focus-outline-width, revert);
}

.container--wide {
  padding-inline: 24px;
}

@media screen and (min-width: 1150px) {
  .navbar__items--left {
    gap: 20px;
  }
}

@media (min-width: 997px) {
  .nlds-theme {
    --docusaurus-announcement-bar-height: 80px;
  }
}

.dsw-usps ul {
  padding: 0;
}
.dsw-usps li {
  padding: 0;
  display: inline;
  list-style: none;
  font-size: 1.25em;
  color: var(--nlds-document-subtle-color);
}
.dsw-usps li:not(:last-child)::after {
  content: "∙";
  display: inline-block;
  padding-right: 0.25em;
  margin-left: 0.25em;
}
.dsw-signup {
  text-decoration: none;
  background-color: var(--utrecht-button-primary-action-background-color);
  padding: 0.5em 1em;
  margin-top: 1em;
  border-radius: 0.25em;
  color: var(--utrecht-button-primary-action-color);
  display: inline-block;
}
.dsw-signup:hover {
  text-decoration: inherit;
  color: var(--utrecht-button-primary-action-color);
}
.dsw-signup-main {
  font-weight: bold;
}
.dsw-signup-sup {
  font-size: 0.65em;
  display: block;
}

/* HACK: these fixes need to be made in utrecht too */
.utrecht-button:focus {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
  scale: inherit !important;
}

.utrecht-button:focus-visible {
  background-color: var(--_utrecht-button-focus-background-color) !important;
  border-color: var(--_utrecht-button-focus-border-color) !important;
  color: var(--_utrecht-button-focus-color) !important;
  scale: var(--utrecht-button-focus-scale, 1) !important;
}

.utrecht-link:focus {
  background-color: inherit !important;
  color: inherit !important;
  text-decoration: inherit !important;
  text-decoration-thickness: inherit !important;
}

.utrecht-link:focus-visible {
  background-color: var(--utrecht-link-focus-background-color, transparent) !important;
  color: var(--utrecht-link-focus-color, var(--utrecht-link-color)) !important;
  text-decoration: var(--utrecht-link-focus-text-decoration, var(--utrecht-link-text-decoration, underline)) !important;
  text-decoration-skip: none !important;
  text-decoration-skip-ink: none !important;
  text-decoration-thickness: max(
    var(--utrecht-link-focus-text-decoration-thickness, var(--utrecht-link-text-decoration-thickness)),
    1px
  ) !important;
}
/* End HACK */

img {
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

abbr[title] {
  text-decoration: none;
  pointer-events: none;
}

.utrecht-breadcrumb-nav {
  margin-inline-start: calc(-1 * var(--utrecht-breadcrumb-nav-item-padding-inline-start, 0));
}

.video-player {
  margin-block-start: 24px;
  margin-block-end: 32px;
}
/* WCAG EM rapport */
.wcag-em dt {
  font-weight: bold;
}
.wcag-em td,
.wcag-em th {
  text-align: left;
  vertical-align: top;
}

.wcag-em td h6,
.wcag-em th h6 {
  margin-top: auto;
}
