/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root,
.nlds-theme {
  /* Override pixel values from Figma */
  --utrecht-heading-1-line-height: 1.1;
  --utrecht-heading-2-line-height: 1.3;
  --utrecht-heading-3-line-height: 1.3;
  --utrecht-heading-4-line-height: 1.4;
  --nlds-blog-post-footer-background-color: #f2ebe4;
  --nlds-navbar-link-active-border-color: white;
  --nlds-sidebar-menu-item-active-border-color: white;
  --nlds-code-block-background-color: #011627;
  --utrecht-space-around: 1;
  --utrecht-button-group-margin-block-start: 1em;
  --utrecht-form-field-margin-block-end: 1em;
  --utrecht-button-group-inline-gap: 0.25em;
  --utrecht-form-field-error-message-color: darkred;
  --utrecht-form-control-max-inline-size: 20em;
  --utrecht-form-control-border-width: 1px;
  --utrecht-textbox-padding-block-start: 0.5em;
  --utrecht-textbox-padding-block-end: 0.5em;
  --utrecht-textbox-padding-inline-start: 0.5em;
  --utrecht-textbox-padding-inline-end: 0.5em;
  --utrecht-form-fieldset-legend-font-weight: 700;
  --utrecht-form-label-font-weight: 700;
  --utrecht-form-field-error-message-margin-block-start: 0;
  --utrecht-form-field-error-message-margin-block-end: 1em;
  --utrecht-form-field-description-margin-block-start: 0;
  --ifm-container-width: 1030px;
  --ifm-container-width-xl: 1080px;
  --ifm-link-hover-color: currentColor;
  --utrecht-heading-2-margin-block-start: 32px;
  --utrecht-checkbox-size: 32px;
  --utrecht-accordion-panel-padding-block-end: 24px;
  --utrecht-accordion-panel-padding-block-start: 0;
  --utrecht-accordion-panel-padding-inline-end: 16px;
  --utrecht-accordion-panel-padding-inline-start: 16px;
  --utrecht-button-secondary-action-border-width: 2px;
  --utrecht-accordion-button-gap: 16px;
  --utrecht-form-toggle-width: 2.5em;
  --utrecht-form-toggle-height: 1.5em;
  --utrecht-form-toggle-thumb-min-inline-size: 0.8em;
  --utrecht-form-toggle-thumb-margin-inline-start: 0.2em;
  --utrecht-form-toggle-thumb-margin-inline-end: 0.2em;
  --utrecht-form-toggle-accent-color: grey;
  --utrecht-form-toggle-checked-accent-color: green;
  --utrecht-form-toggle-thumb-background-color: white;
  --utrecht-form-toggle-track-border-radius: 2em;
  -moz-osx-font-smoothing: auto !important;
  --doc-sidebar-width: clamp(20rem, 30rem, 30vw);
  --navbar-inner-min-height: 64px;
  --utrecht-button-group-inline-gap: 1ch;
  --utrecht-button-icon-gap: 1ch;
}

.utrecht-form-field--checkbox {
  align-items: center;
}

.utrecht-breadcrumb-nav {
  margin-block-end: var(--utrecht-breadcrumb-nav-margin-block-end, 20px);
}

.container--narrow {
  --ifm-container-width: 784px;
  --ifm-container-width-xl: var(--ifm-container-width);
}

.utrecht-unordered-list {
  list-style-type: square;
}

.utrecht-unordered-list .utrecht-unordered-list__item::marker {
  content: "◼";
  font-size: 16px;
}

.button {
  border: none;
  font-size: var(--utrecht-button-font-size);
  line-height: var(--utrecht-button-line-height);
  padding-block-end: var(--utrecht-button-padding-block-end);
  padding-block-start: var(--utrecht-button-padding-block-start);
  padding-inline-end: calc(8px + var(--utrecht-button-icon-size) + var(--utrecht-button-padding-inline-end));
  padding-inline-start: var(--utrecht-button-padding-inline-start);
  position: relative;
}

.utrecht-button-link:hover,
.utrecht-button:hover {
  --utrecht-button-primary-action-background-color: #0b732c;
  --utrecht-button-primary-action-color: #fff;
  --utrecht-button-secondary-action-border-color: #0b6728;
  --utrecht-button-secondary-action-color: #0b6728;
  --ifm-link-hover-color: var(--_utrecht-button-color);
  --ifm-link-hover-decoration: none;
}

.utrecht-form-field--checkbox > p {
  display: flex;
  gap: 0.5em;
  justify-content: flex-start;
  line-height: 1.4;
}

.utrecht-form-field--checkbox > p input {
  --utrecht-checkbox-size: 16px;
  flex: none;
}

.utrecht-form-field--checkbox > p .utrecht-checkbox--custom.utrecht-checkbox--html-input:checked,
.utrecht-form-field--checkbox > .utrecht-checkbox--custom.utrecht-checkbox--html-input:checked,
.utrecht-custom-checkbox--html-input:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 75%;
}

.utrecht-form-field--checkbox label {
  --utrecht-form-label-font-weight: 400;
}

.footer {
  padding-block: 16px;
  width: 100%;
}

.footer--dark {
  --ifm-footer-background-color: #0d1f2a;
  --ifm-footer-color: white;
  --ifm-footer-link-hover-color: white;
}

.footer__items {
  display: grid;
  gap: 36px;
  grid-auto-flow: column;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__links {
  justify-content: space-between;
}

.footer__links .col {
  flex: none;
  width: fit-content;
}

.footer__link-item svg {
  display: none;
}

.footer__items {
  display: grid;
  gap: 36px;
  grid-auto-flow: column;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.footer__links {
  justify-content: space-between;
}

.footer__links .col {
  flex: none;
  width: fit-content;
}

.footer__link-item svg {
  display: none;
}

.docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 10%);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgb(0 0 0 / 30%);
}

/* Overwrite docusaurus styling but use the classname to enable lookup for content position by docusaurus */
.navbar {
  --ifm-link-hover-decoration: none;

  display: unset;
  height: auto;
  padding: 0;
}

.navbar__link {
  --utrecht-link-text-decoration: none;
  --utrecht-link-color: currentColor;
  --utrecht-link-focus-color: #00303d;

  font-size: 18px;
  position: relative;
  text-decoration: none;
}

/* FIXME: when the navbar is custom this should be simpler. Currently the home link is always active */
.navbar__link--active:not(.navbar__brand, .utrecht-button-link),
.navbar__link:not(.utrecht-button-link):hover {
  border-block-end-color: var(--nlds-navbar-link-active-border-color, transparent);
  border-block-end-style: solid;
  border-block-end-width: 4px;
  border-block-start-color: transparent;
  border-block-start-style: solid;
  border-block-start-width: 4px;
}

.navbar--dark {
  --ifm-navbar-background-color: var(--nlds-page-header-background-color);
  --ifm-navbar-link-hover-color: white;
  --ifm-menu-color-active: white;
}

.navbar__inner {
  align-items: center;
  flex-wrap: nowrap;
  min-height: var(--navbar-inner-min-height);
}
.table-of-contents {
  font-size: 18px;
}

.nlds-theme {
  align-content: inherit;
  font-weight: 400;
  min-height: 100vh;
}

.main-layout {
  display: grid;
  grid-template-areas:
    "skip-link"
    "announcement-bar"
    "header"
    "main-content"
    "footer";
  grid-template-rows: auto auto auto 1fr auto;
}

[aria-label="Ga naar hoofdinhoud"] {
  grid-area: skip-link;
}

.navbar {
  grid-area: header;
}

.main-wrapper {
  grid-area: main-content;
}

.footer {
  grid-area: footer;
}

.mega-footer-link,
.homepage-hero__description_src-components-HomepageHero-module a {
  /* Add white foreground color and underline to links in hero and footer */
  color: white;
  text-decoration: underline;
}

.homepage-hero_src-components-HomepageHero-module {
  --ifm-h1-font-size: var(--utrecht-heading-3-font-size);
}

/* Display internal link below sticky header */
:target {
  scroll-margin-block-start: calc(var(--navbar-inner-min-height));
}

.nlds-fragment-redirect {
  --ifm-paragraph-margin-bottom: 0;
}

code,
pre {
  font-family: "Fira Code VF" !important;
  font-feature-settings: "cv13", "cv20", "ss01", "ss02", "ss03";
  font-size: 16px;
  vertical-align: 1%;
}
code {
  background-color: transparent !important;
  border-inline-end: 0;
  border-inline-start: 0;
  border-width: 0;
  padding: 0;
}

article {
  max-inline-size: var(--utrecht-article-max-inline-size);
}

p a,
li a {
  text-decoration: underline; /* Add underline to links in running paragraph text and lists */
  text-underline-offset: 0.2em;
}

[class^="homepage-hero__description"] p a {
  /* Dirty hack to target link in hero banner text */
  color: white;
  text-decoration: underline;
}

.theme-edit-this-page {
  /* Temporarily disable Edit this page link since not every page can be editted by the community */
  display: none;
}

.pagination-nav {
  display: none; /* Temporarily disabled pagination */
}

.utrecht-ordered-list {
  width: auto !important;
}

.voorbeeld-theme {
  --utrecht-button-group-margin-block-start: 20px;
}

.navbar__items {
  gap: 16px;
}

.navbar__items--right {
  gap: 0;
}

.navbar__item:not(.utrecht-button-link, .utrecht-button) {
  align-items: center;
  display: flex;
  height: 100%;
  padding-inline: 0;
}

.navbar {
  --utrecht-button-subtle-color: white;
  --utrecht-link-color: white;
  --utrecht-item-subtle-hover-color: white;
  --utrecht-button-subtle-hover-background-color: #004152;
  --utrecht-link-hover-color: white;
  --utrecht-link-hover-background-color: #004152;
  --utrecht-button-subtle-active-color: white;
  --utrecht-button-subtle-active-background-color: #224a62;
  --utrecht-link-active-color: white;
  --utrecht-link-active-background-color: #224a62;
}

.navbar-sidebar__item {
  padding-block: 16px;
  padding-inline: 0;
}

.menu__list .menu__list {
  padding-inline: 0;
}

.menu__list {
  --utrecht-button-subtle-color: var(--utrecht-link-color);
  --utrecht-button-focus-color: var(--nlds-focus-color);
  --utrecht-button-icon-size: 28px;
}

.menu__link {
  --utrecht-link-text-decoration: none;
  --utrecht-link-color: var(--nlds-interaction-color);

  border-radius: 0;
  line-height: 1.5;
  margin-inline-start: 4px;
  padding-block: 0.75rem;
  text-decoration: none;
}

.menu__link--active,
.menu__link:active {
  background-color: hsl(0 0% 0% / 5%);
  border-inline-start-color: var(--nlds-sidebar-menu-item-active-border-color);
  border-inline-start-style: solid;
  border-inline-start-width: 4px;
  margin-inline-start: 0;
}

.menu__link:hover {
  border-inline-start-color: var(--nlds-sidebar-menu-item-active-border-color);
  border-inline-start-style: solid;
  border-inline-start-width: 4px;
  margin-inline-start: 0;
}

.menu__list-item-collapsible {
  border-radius: 0;
}

.doc-sidebar-main-category {
  display: none;
}

.navbar-sidebar__item .menu__link {
  --utrecht-link-color: white;
}

.navbar-sidebar__item .menu__link--active,
.navbar-sidebar__item .menu__link:active {
  --utrecht-link-color: white;

  background-color: var(--nlds-menu-item-selected-background-color);
}

.navbar-sidebar .navbar__item--github-link {
  margin-block-start: 48px;
}

.sidebar__main-category {
  display: none;
}

.menu__list-item-collapsible > .menu__link--active:not([aria-expanded="false"], :hover) {
  border-color: transparent;
}

.theme-doc-sidebar-item-link-level-3,
.theme-doc-sidebar-item-category-level-3 {
  font-weight: 400;
  padding-inline-start: 0;
}

.theme-doc-sidebar-item-link-level-3 a,
.theme-doc-sidebar-item-category-level-3 a {
  padding-inline-start: 24px;
}

.theme-doc-sidebar-item-link-level-4 {
  padding-inline-start: 0;
}

.theme-doc-sidebar-item-link-level-4 a,
.theme-doc-sidebar-item-category-level-4 a {
  padding-inline-start: 40px;
}

.theme-doc-sidebar-item-link-level-5 a {
  padding-inline-start: 56px;
}

.doc-card-list {
  margin-block-end: 2em !important;
}

@media (width >= 997px) {
  :root {
    --navbar-inner-min-height: 80px;
  }

  .navbar__items--left {
    max-width: 945px;
  }

  .navbar__inner {
    align-items: center;
    gap: 20px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
  }

  .navbar__items {
    align-self: stretch;
  }

  .navbar .navbar__toggle {
    display: none;
  }
}

@media screen and (width <= 996px) {
  .nlds-theme {
    --utrecht-article-max-inline-size: calc(100vw - 2 * var(--ifm-spacing-horizontal));
    --utrecht-heading-1-font-size: 32px;
    --utrecht-heading-2-font-size: 24px;
    --utrecht-heading-3-font-size: 22px;
    --utrecht-heading-4-font-size: 20px;
    --utrecht-heading-5-font-size: 18px;
    --utrecht-heading-6-font-size: 16px;
  }

  .navbar .navbar__item {
    display: none;
  }

  .navbar-sidebar {
    --ifm-menu-link-padding-horizontal: 16px;
  }

  .navbar .navbar__item--show-on-mobile {
    display: flex;
  }

  .navbar .navbar__items {
    display: none;
  }

  .navbar .navbar__items--show-on-mobile {
    display: flex;
  }

  .footer__items {
    gap: 16px;
  }

  .footer__col {
    margin-bottom: 0;
  }

  .sidebar__main-category {
    display: block;
    font-size: 28px;
    margin-block-end: 48px;
    padding-inline-start: 20px;
  }
}

@media screen and (width <= 850px) {
  .footer__items {
    grid-auto-flow: row;
  }
}

a {
  transition: none;
}

body:not(.navigation-with-keyboard) *:not(input):focus {
  outline-color: var(--utrecht-focus-outline-color, revert);
  outline-offset: var(--utrecht-focus-outline-offset, revert);
  outline-style: var(--utrecht-focus-outline-style, revert);
  outline-width: var(--utrecht-focus-outline-width, revert);
}

.container--wide {
  padding-inline: 24px;
}

@media screen and (width >= 1150px) {
  .navbar__items--left {
    gap: 20px;
  }
}

@media (width >= 997px) {
  .nlds-theme {
    --docusaurus-announcement-bar-height: 80px;
    --nlds-sidebar-menu-item-active-border-color: #148839;
  }
}

.dsw-usps ul {
  padding: 0;
}
.dsw-usps li {
  color: var(--nlds-document-subtle-color);
  display: inline;
  font-size: 1.25em;
  list-style: none;
  padding: 0;
}
.dsw-usps li:not(:last-child)::after {
  content: "∙";
  display: inline-block;
  margin-left: 0.25em;
  padding-right: 0.25em;
}
.dsw-signup {
  background-color: var(--utrecht-button-primary-action-background-color);
  border-radius: 0.25em;
  color: var(--utrecht-button-primary-action-color);
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
}
.dsw-signup:hover {
  color: var(--utrecht-button-primary-action-color);
  text-decoration: inherit;
}
.dsw-signup-main {
  font-weight: 700;
}
.dsw-signup-sup {
  display: block;
  font-size: 0.65em;
}

/* HACK: these fixes need to be made in utrecht too */
.utrecht-button:focus {
  background-color: var(--_utrecht-button-background-color) !important;
  border-color: var(--_utrecht-button-border-color) !important;
  color: var(--_utrecht-button-color) !important;
  scale: var(--utrecht-button-scale, 1) !important;
}

.utrecht-button:focus-visible {
  background-color: var(--_utrecht-button-focus-background-color) !important;
  border-color: var(--_utrecht-button-focus-border-color) !important;
  color: var(--_utrecht-button-focus-color) !important;
  scale: var(--utrecht-button-focus-scale, 1) !important;
}

.utrecht-link:focus {
  background-color: inherit !important;
  color: inherit !important;
  text-decoration: inherit !important;
  text-decoration-thickness: inherit !important;
}

.utrecht-link:focus-visible {
  background-color: var(--utrecht-link-focus-background-color, transparent) !important;
  color: var(--utrecht-link-focus-color, var(--utrecht-link-color)) !important;
  text-decoration: var(--utrecht-link-focus-text-decoration, var(--utrecht-link-text-decoration, underline)) !important;
  text-decoration-skip: none !important;
  text-decoration-skip-ink: none !important;
  text-decoration-thickness: max(
    var(--utrecht-link-focus-text-decoration-thickness, var(--utrecht-link-text-decoration-thickness)),
    1px
  ) !important;
}

/* End HACK */

img {
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

abbr[title] {
  pointer-events: none;
  text-decoration: none;
}

.utrecht-breadcrumb-nav {
  margin-inline-start: calc(-1 * var(--utrecht-breadcrumb-nav-item-padding-inline-start, 0));
}

#__blog-post-container > p:first-child {
  font-size: var(--utrecht-paragraph-lead-font-size);
}

/* WCAG EM rapport */
.wcag-em dt {
  font-weight: 700;
}
.wcag-em td,
.wcag-em th {
  text-align: left;
  vertical-align: top;
}

.wcag-em td h6,
.wcag-em th h6 {
  margin-top: auto;
}

/* CSS Richtlijnen */
.nlds-dont {
  border: 2px solid #c00;
  margin: 20px;
  padding: 20px;
}

.nlds-icon-ext {
  background-image: url("../icons/external-link.svg");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 20px;
}
.docs-doc-page .utrecht-html label,
.docs-doc-page .utrecht-html legend {
  font-weight: 700;
}

.docs-doc-page input[type="text"],
.docs-doc-page input[type="email"],
.docs-doc-page input[type="tel"],
.docs-doc-page input[type="password"] {
  display: block;
}
.docs-doc-page ul {
  margin-bottom: 20px;
}
.docs-doc-page div.button {
  border: 1px solid #223c61;
  border-radius: 8px;
  font-weight: 700;
  padding-inline-end: 12px;
}

.docs-doc-page div.button:hover,
.docs-doc-page button:hover {
  cursor: pointer;
}

.docs-doc-page .utrecht-html input[type="text"]::placeholder,
.docs-doc-page .nlds-canvas__example_src-components-Canvas-Canvas-module input[type="text"]::placeholder {
  opacity: 1;
  color: #757575;
  opacity: 100%;
}

.docs-doc-page .utrecht-html button {
  margin: 16px 0;
}

.docs-doc-page .utrecht-html input[type="text" i]:invalid {
  border-color: #7a8aa0;
  border-width: 1px;
}
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

code[class*="language-"] {
  background-color: var(--nlds-code-block-background-color);
  color: var(--nlds-code-block-code-color);
  direction: ltr;
  font-family: var(--nlds-code-block-font-family, monospace);
  -webkit-hyphens: var(--nlds-code-block-hyphens, none);
  -moz-hyphens: var(--nlds-code-block-hyphens, none);
  hyphens: var(--nlds-code-block-hyphens, none);
  line-height: var(--nlds-code-block-line-height, 1.5);
  ms-hyphens: var(--nlds-code-block-hyphens, none);
  -moz-tab-size: var(--nlds-code-block-tab-size, 4);
  -o-tab-size: var(--nlds-code-block-tab-size, 4);
  tab-size: var(--nlds-code-block-tab-size, 4);
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

pre[class*="language-"] {
  background-color: var(--nlds-code-block-background-color);
  color: var(--nlds-code-block-color);
  font-family: var(--nlds-code-block-font-family, monospace);
  font-size: var(--nlds-code-block-font-size, 1em);
  -webkit-hyphens: var(--nlds-code-block-hyphens, none);
  -moz-hyphens: var(--nlds-code-block-hyphens, none);
  hyphens: var(--nlds-code-block-hyphens, none);
  line-height: var(--nlds-code-block-line-height, 1.5);
  margin-block-end: var(--nlds-code-block-margin-inline-end, 0.5em);
  margin-block-start: var(--nlds-code-block-margin-inline-start, 0.5em);
  margin-inline-end: var(--nlds-code-block-margin-inline-end, 0);
  margin-inline-start: var(--nlds-code-block-margin-inline-start, 0);
  ms-hyphens: var(--nlds-code-block-hyphens, none);
  overflow: auto;
  padding-block-end: var(--nlds-code-block-padding-block-end, 1em);
  padding-block-start: var(--nlds-code-block-padding-block-start, 1em);
  padding-inline-end: var(--nlds-code-block-padding-inline-end, 1em);
  padding-inline-start: var(--nlds-code-block-padding-inline-start, 1em);
  -moz-tab-size: var(--nlds-code-block-tab-size, 4);
  -o-tab-size: var(--nlds-code-block-tab-size, 4);
  tab-size: var(--nlds-code-block-tab-size, 4);
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

pre > code {
  padding: 0 !important;

  /* avoid double spacing */
}

ul + div[class*="language-"],
ul + .nlds-guideline_src-components-Guideline-module {
  margin-block-start: var(--nlds-code-block-margin-inline-start, 1.5em);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--nlds-code-block-selected-background-color);
  text-shadow: none;
}

code.language-css .token.string {
  color: var(--nlds-code-block-css-token-color);
}

code .style .token.string {
  color: var(--nlds-code-block-style-token-color);
}

code .namespace {
  color: var(--nlds-code-block-namespace-color);
}

pre {
  --nlds-code-block-code-color: #c5c8c6;
  --nlds-code-block-color: #fff;
  --nlds-code-block-font-family: "Fira Code", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-padding-inline-start: 1em;
  --nlds-code-block-padding-inline-end: 1em;
  --nlds-code-block-padding-block-start: 1em;
  --nlds-code-block-padding-block-end: 1em;
  --nlds-code-block-margin-inline-start: 0;
  --nlds-code-block-margin-inline-end: 0;
  --nlds-code-block-margin-inline-start: 0;
  --nlds-code-block-margin-inline-end: 0;
  --nlds-code-block-background-color: #011627;
  --nlds-code-block-selected-background-color: rgb(29 59 83 / 99%);
  --nlds-code-block-comment-color: rgb(99 119 119);
  --nlds-code-block-comment-font-style: italic;
  --nlds-code-block-prolog-color: rgb(99 119 119);
  --nlds-code-block-prolog-font-style: italic;
  --nlds-code-block-cdata-color: rgb(99 119 119);
  --nlds-code-block-cdata-font-style: italic;
  --nlds-code-block-punctuation-color: rgb(199 146 234);
  --nlds-code-block-namespace-color: rgb(178 204 214);
  --nlds-code-block-deleted-color: rgb(239 83 80 / 56%);
  --nlds-code-block-deleted-font-style: italic;
  --nlds-code-block-symbol-color: rgb(128 203 196);
  --nlds-code-block-property-color: rgb(128 203 196);
  --nlds-code-block-tag-color: rgb(127 219 202);
  --nlds-code-block-operator-color: rgb(127 219 202);
  --nlds-code-block-boolean-color: rgb(255 88 116);
  --nlds-code-block-number-color: rgb(247 140 108);
  --nlds-code-block-constant-color: rgb(130 170 255);
  --nlds-code-block-function-color: rgb(130 170 255);
  --nlds-code-block-builtin-color: rgb(130 170 255);
  --nlds-code-block-char-color: rgb(130 170 255);
  --nlds-code-block-selector-color: rgb(199 146 234);
  --nlds-code-block-selector-font-style: italic;
  --nlds-code-block-doctype-color: rgb(199 146 234);
  --nlds-code-block-doctype-font-style: italic;
  --nlds-code-block-attr-name-color: rgb(173 219 103);
  --nlds-code-block-attr-name-font-style: italic;
  --nlds-code-block-inserted-color: rgb(173 219 103);
  --nlds-code-block-inserted-font-style: italic;
  --nlds-code-block-string-color: rgb(111, 211, 206);
  --nlds-code-block-url-color: rgb(173 219 103);
  --nlds-code-block-entity-color: rgb(173 219 103);
  --nlds-code-block-css-token-color: rgb(173 219 103);
  --nlds-code-block-style-token-color: rgb(173 219 103);
  --nlds-code-block-class-name-color: rgb(139, 214, 255);
  --nlds-code-block-maybe-class-name-color: rgb(255, 139, 216);
  --nlds-code-block-atrule-color: rgb(189, 139, 255);
  --nlds-code-block-attr-value-color: rgb(255 203 139);
  --nlds-code-block-regex-color: rgb(214 222 235);
  --nlds-code-block-important-color: rgb(214 222 235);
  --nlds-code-block-variable-color: rgb(214 222 235);
  --nlds-code-block-keyword-color: rgb(214 222 235);
}

.theme-doc-sidebar-container {
  margin-top: 0 !important;
}

.utrecht-document {
  /* reset `font-smoothing: antialiasing`, prefer automatic (`subpixel-antialiasing`) behavior for high-dpi screens */
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
}

.utrecht-spotlight-section {
  --utrecht-link-text-decoration-color: var(--utrecht-document-color);
  --utrecht-link-color: var(--utrecht-document-color);
}

/* HACK: Persoonlijke Regelingen Assistent DonutChart */
.pra-donutchart {
  border: none !important;
  display: inline-flex !important;
  inline-size: auto !important;
  padding-inline-end: 1ch;
  vertical-align: middle;
}

.pra-donutchart-chart {
  padding-block: 0 !important;
  padding-inline: 0 !important;
  height: 20px !important;
  width: 20px !important;
}

.pra-donutchart-legend {
  display: none !important;
}

/* Temporary fix for accordion spacing */
.utrecht-accordion__header {
  margin: 0;
}

.DocSearch {
  --docsearch-muted-color: #757575;
  --docsearch-modal-width: 50em;
}
.DocSearch .DocSearch-Label {
  font-size: 0.9em;
  line-height: 1;
}
