/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.visually-hidden,
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

:root,
.ma-theme {
  /* reset `font-smoothing: antialiasing`, prefer automatic (`subpixel-antialiasing`) behavior for high-dpi screens */
  -moz-osx-font-smoothing: auto !important;
  font-size-adjust: 0.5;

  /* You can override the default Infima variables here. */
  --ifm-container-width: 870px;
  --ifm-container-width-xl: 960px;
  --ifm-link-hover-color: currentColor;
  --doc-sidebar-width: clamp(20rem, 30rem, 30vw);
  --ifm-navbar-sidebar-width: clamp(20rem, 30rem, 80vw);
  --navbar-inner-min-height: 64px;
  --ifm-navbar-background-color: var(--ma-navigation-bar-background-color);
  --ifm-navbar-link-color: var(--ma-navigation-bar-item-color);
  --ifm-menu-color: var(--basis-color-accent-1-color-default);
  --ifm-menu-color-active: var(--basis-color-accent-1-color-active);
  --ifm-menu-color-background-active: var(--basis-color-accent-1-bg-default);
  --ifm-menu-color-hover: var(--basis-color-accent-1-color-hover);
  --ifm-menu-color-background-hover: var(--basis-color-accent-1-bg-hover);
  --ifm-menu-link-padding-horizontal: 0;
  --ifm-footer-background-color: var(--basis-color-accent-1-inverse-bg-subtle);
  --ifm-footer-color: var(--basis-color-accent-1-inverse-color-default);
  --ifm-footer-link-color: var(--ifm-footer-color);
  --ifm-footer-link-hover-color: var(--basis-color-accent-1-inverse-color-subtle);
  --ifm-footer-padding-vertical: 10px;
  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-breadcrumb-padding-horizontal: 0;
  --ifm-breadcrumb-separator-size: 1.1ch;

  /* Temporary styling for custom nlds components */
  --nlds-blog-post-footer-background-color: #f2ebe4;
  --nlds-navbar-link-active-border-color: white;
  --nlds-sidebar-menu-item-active-border-color: white;
  --nlds-code-block-background-color: #011627;
  --nlds-status-help-wanted-subtle-background-color: var(--ma-color-oranje-2);
  --nlds-status-help-wanted-background-color: var(--ma-color-oranje-3);
  --nlds-status-help-wanted-border-color: var(--ma-color-oranje-5);
  --nlds-status-help-wanted-color: var(--ma-color-oranje-12);
  --nlds-status-community-subtle-background-color: var(--ma-color-paars-2);
  --nlds-status-community-background-color: var(--ma-color-paars-3);
  --nlds-status-community-border-color: var(--ma-color-paars-5);
  --nlds-status-community-color: var(--ma-color-paars-12);
  --nlds-status-candidate-subtle-background-color: var(--ma-color-blauw-2);
  --nlds-status-candidate-background-color: var(--ma-color-blauw-3);
  --nlds-status-candidate-border-color: var(--ma-color-blauw-5);
  --nlds-status-candidate-color: var(--ma-color-blauw-12);
  --nlds-status-hall-of-fame-subtle-background-color: var(--ma-color-groen-2);
  --nlds-status-hall-of-fame-background-color: var(--ma-color-groen-3);
  --nlds-status-hall-of-fame-border-color: var(--ma-color-groen-5);
  --nlds-status-hall-of-fame-color: var(--ma-color-groen-12);
  --nlds-status-border-color: var(--ma-color-paars-12);

  /* Override pixel values from Figma */
  --utrecht-heading-1-line-height: 1.1;
  --utrecht-heading-2-line-height: 1.3;
  --utrecht-heading-3-line-height: 1.3;
  --utrecht-heading-4-line-height: 1.4;

  /* TODO add to ma-design-tokens */
  --utrecht-card-background-color: var(--basis-color-action-2-bg-default);
  --utrecht-card-color: var(--basis-color-action-2-color-document);
  --utrecht-card-border-radius: 4px;
  --utrecht-card-content-padding-block-end: 20px;
  --utrecht-card-content-padding-block-start: 20px;
  --utrecht-button-group-margin-block-end: 20px;
  --utrecht-button-group-margin-block-start: 40px;
  --utrecht-badge-list-row-gap: 1rem;
  --utrecht-badge-list-column-gap: 1ch;

  /* Hackysnacky tokens */
  --utrecht-card-link-hover-background-color: var(--basis-color-action-2-bg-hover);

  /* Pet peaves tokens that should be fixed in ma-design-tokens */
  --basis-text-font-size-md: 1.125rem !important;
  --basis-text-font-size-sm: 1rem !important;
  --utrecht-accordion-button-background-color: transparent !important;
  --utrecht-link-text-underline-offset: 4px !important;
  --utrecht-accordion-button-background-color: transparent !important;
  --utrecht-color-sample-background-color: currentColor !important;

  --ifm-footer-link-horizontal-spacing: 20px;
}

/* Classnames that might move into a separate component */

.dl__item {
  margin-bottom: 20px;
}

.dl__term {
  font-weight: bold;
}

.dl__definition {
  margin-left: 0;
}

.definition__meta {
  margin-top: calc(var(--utrecht-space-around, 0) * var(--utrecht-paragraph-margin-block-start, 0));
}

/* HACK: Hackysnacky CSS that should be solved better in the chefs-kiss website */
p {
  max-inline-size: 80ch;
}

.menu__link {
  text-decoration: none;
  padding-inline: 20px;
  border-radius: 0;
  border-inline-start: 4px solid transparent;
}

.menu__link--active,
.menu__list-item-collapsible--active {
  background-color: var(--ifm-menu-color-background-active);
  border-inline-start-color: var(--basis-color-accent-1-border-active);
  color: var(--basis-color-accent-1-color-active);
}

.menu__link:hover,
.menu__list-item-collapsible:hover {
  background-color: var(--basis-color-accent-1-bg-hover);
  border-inline-start-color: var(--basis-color-accent-1-border-hover);
  color: var(--basis-color-accent-1-color-hover);
}

.menu__caret {
  padding-inline: 10px;
}

.menu {
  padding: 0 !important;
}

.ma-navigation-bar-item {
  text-decoration: none;
  min-height: 100%;
  align-content: center;
  border-block-start-width: 4px;
  border-block-start-style: solid;
  border-color: transparent;
}

.ma-navigation-bar-item:hover {
  background-color: var(--ma-navigation-bar-item-hover-background-color);
  border-block-start-color: var(--ma-navigation-bar-item-hover-border-color);
  color: var(--ma-navigation-bar-item-hover-color);
}

.navbar,
.main-wrapper,
.footer {
  width: 100%;
}

.navbar__link--active {
  background-color: var(--ma-navigation-bar-item-active-background-color);
  border-block-start-color: var(--ma-navigation-bar-item-active-border-color);
}

.navbar-sidebar {
  --ifm-menu-color: var(--ma-navigation-bar-item-color);
}

.navbar-sidebar__back {
  background-color: var(--basis-color-accent-1-inverse-bg-default);
  color: var(--ma-navigation-bar-item-color);
  font-size: var(--basis-text-font-size-sm);
  padding-block-start: 20px;
}

.navbar-sidebar {
  --ifm-menu-color-background-active: transparent;
}

.navbar-sidebar__back:hover {
  background-color: var(--ma-navigation-bar-item-hover-background-color);
  color: var(--ma-navigation-bar-item-hover-color);
}

.navbar-sidebar .menu__link--active {
  background-color: var(--basis-color-accent-1-inverse-bg-active);
  border-inline-start-color: var(--basis-color-accent-1-inverse-border-active);
  color: var(--basis-color-accent-1-inverse-color-active);
}
.navbar-sidebar .menu__link:hover,
.navbar-sidebar .menu__list-item-collapsible:hover,
.navbar-sidebar .menu__caret:hover {
  background-color: var(--basis-color-accent-1-inverse-bg-hover);
  border-inline-start-color: var(--basis-color-accent-1-inverse-border-hover);
  color: var(--basis-color-accent-1-inverse-color-hover);
}

.theme-doc-sidebar-item-link-level-3 .menu__link,
.theme-doc-sidebar-item-category-level-3 .menu__link {
  padding-inline-start: 32px;
}

.theme-doc-sidebar-item-link-level-4 .menu__link,
.theme-doc-sidebar-item-category-level-4 .menu__link {
  padding-inline-start: 48px;
}

/* Hide Docusaurus items */
aside a[href="/"],
aside button[title="Zijbalk inklappen"],
.sidebar__main-category > div,
.theme-doc-footer,
.pagination-nav {
  display: none !important;
}

/* HACK: Persoonlijke Regelingen Assistent DonutChart */
.pra-donutchart {
  border: none !important;
  display: inline-flex !important;
  inline-size: auto !important;
  padding-inline-end: 1ch;
  vertical-align: middle;
}

.pra-donutchart-chart {
  padding-block: 0 !important;
  padding-inline: 0 !important;
  height: 20px !important;
  width: 20px !important;
}

.pra-donutchart-legend {
  display: none !important;
}

/* HACK: improve Utrecht components */
.utrecht-card {
  --utrecht-heading-3-margin-block-start: 1rem;
  --utrecht-heading-3-font-size: 1.5rem;
  --utrecht-link-color: var(--utrecht-card-color);
  --utrecht-link-text-decoration-color: var(--utrecht-card-color);

  --utrecht-card-padding-inline-end: 20px;
  --utrecht-card-padding-inline-start: 20px;

  padding-inline-end: var(--utrecht-card-padding-inline-end);
  padding-inline-start: var(--utrecht-card-padding-inline-start);
}

.utrecht-card--link:hover {
  background-color: var(--utrecht-card-link-hover-background-color);
}

.utrecht-form-field--checkbox label {
  --utrecht-form-label-font-weight: 400;
}

.utrecht-accordion__button::after {
  display: none;
}

.utrecht-accordion__button {
  --utrecht-button-border-radius: 0;
}

/* Override Docusaurus styles */
#__docusaurus,
.utrecht-page-layout {
  flex-grow: 1;
}

.footer .container {
  margin-inline-start: 20px;
}

.footer__link-separator {
  display: none;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.footer__link-item {
  text-underline-offset: var(--utrecht-link-text-underline-offset);
  text-decoration-skip-ink: auto;
}

.theme-doc-sidebar-container {
  margin-top: 0 !important;
}

.DocSearch {
  --docsearch-muted-color: #757575;
  --docsearch-modal-width: 50em;
}

.DocSearch .DocSearch-Label {
  font-size: 0.9em;
  line-height: 1;
}

.DocSearch ul {
  margin: auto 0;
}

.table-of-contents {
  font-size: var(--basis-text-font-size-sm);
}

.breadcrumbs__link {
  color: var(--basis-color-action-2-color-default);
  text-underline-offset: var(--utrecht-link-text-underline-offset);
  font-size: var(--basis-text-font-size-sm);
  text-decoration-skip-ink: auto;
}

.breadcrumbs__link:hover {
  color: var(--basis-color-action-2-color-hover);
  text-decoration: none;
  background-color: none;
}

.breadcrumbs__link:active {
  color: var(--basis-color-action-2-color-active);
  text-decoration: none;
  background-color: none;
}

.breadcrumbs__link[href="/"]:after {
  content: "Home";
}

.breadcrumbs__link[href="/"] svg {
  display: none;
}

.containter {
  padding-block: 20px;
}

/* Accessibility improvement */
* Display internal link below sticky header */ :target {
  scroll-margin-block-start: calc(var(--navbar-inner-min-height));
}

abbr[title] {
  pointer-events: none;
  text-decoration: none;
}

.DocSearch {
  --docsearch-muted-color: #757575;
  --docsearch-modal-width: 50em;
}

.DocSearch .DocSearch-Label {
  font-size: 0.9em;
  line-height: 1;
}

.DocSearch ul {
  margin: auto 0;
}

/* Add styling to code blocks  */
code[class*="language-"] {
  background-color: var(--nlds-code-block-background-color);
  color: var(--nlds-code-block-code-color);
  direction: ltr;
  font-family: var(--nlds-code-block-font-family, monospace);
  -webkit-hyphens: var(--nlds-code-block-hyphens, none);
  -moz-hyphens: var(--nlds-code-block-hyphens, none);
  hyphens: var(--nlds-code-block-hyphens, none);
  line-height: var(--nlds-code-block-line-height, 1.5);
  ms-hyphens: var(--nlds-code-block-hyphens, none);
  -moz-tab-size: var(--nlds-code-block-tab-size, 4);
  -o-tab-size: var(--nlds-code-block-tab-size, 4);
  tab-size: var(--nlds-code-block-tab-size, 4);
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
}

pre[class*="language-"] {
  background-color: var(--nlds-code-block-background-color);
  color: var(--nlds-code-block-color);
  font-family: var(--nlds-code-block-font-family, monospace);
  font-size: var(--nlds-code-block-font-size, 1em);
  -webkit-hyphens: var(--nlds-code-block-hyphens, none);
  -moz-hyphens: var(--nlds-code-block-hyphens, none);
  hyphens: var(--nlds-code-block-hyphens, none);
  line-height: var(--nlds-code-block-line-height, 1.5);
  margin-block-end: var(--nlds-code-block-margin-inline-end, 0.5em);
  margin-block-start: var(--nlds-code-block-margin-inline-start, 0.5em);
  margin-inline-end: var(--nlds-code-block-margin-inline-end, 0);
  margin-inline-start: var(--nlds-code-block-margin-inline-start, 0);
  ms-hyphens: var(--nlds-code-block-hyphens, none);
  overflow: auto;
  padding-block-end: var(--nlds-code-block-padding-block-end, 1em);
  padding-block-start: var(--nlds-code-block-padding-block-start, 1em);
  padding-inline-end: var(--nlds-code-block-padding-inline-end, 1em);
  padding-inline-start: var(--nlds-code-block-padding-inline-start, 1em);
  -moz-tab-size: var(--nlds-code-block-tab-size, 4);
  -o-tab-size: var(--nlds-code-block-tab-size, 4);
  tab-size: var(--nlds-code-block-tab-size, 4);
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* avoid double spacing */
pre > code {
  padding: 0 !important;
}

ul + div[class*="language-"],
ul + .nlds-guideline_src-components-Guideline-module {
  margin-block-start: var(--nlds-code-block-margin-inline-start, 1.5em);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: var(--nlds-code-block-selected-background-color);
  text-shadow: none;
}

code.language-css .token.string {
  color: var(--nlds-code-block-css-token-color);
}

code .style .token.string {
  color: var(--nlds-code-block-style-token-color);
}

code .namespace {
  color: var(--nlds-code-block-namespace-color);
}

pre {
  --nlds-code-block-code-color: #c5c8c6;
  --nlds-code-block-color: #fff;
  --nlds-code-block-font-family: "Fira Code", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-padding-inline-start: 1em;
  --nlds-code-block-padding-inline-end: 1em;
  --nlds-code-block-padding-block-start: 1em;
  --nlds-code-block-padding-block-end: 1em;
  --nlds-code-block-margin-inline-start: 0;
  --nlds-code-block-margin-inline-end: 0;
  --nlds-code-block-margin-inline-start: 0;
  --nlds-code-block-margin-inline-end: 0;
  --nlds-code-block-background-color: #011627;
  --nlds-code-block-selected-background-color: rgb(29 59 83 / 99%);
  --nlds-code-block-comment-color: rgb(99 119 119);
  --nlds-code-block-comment-font-style: italic;
  --nlds-code-block-prolog-color: rgb(99 119 119);
  --nlds-code-block-prolog-font-style: italic;
  --nlds-code-block-cdata-color: rgb(99 119 119);
  --nlds-code-block-cdata-font-style: italic;
  --nlds-code-block-punctuation-color: rgb(199 146 234);
  --nlds-code-block-namespace-color: rgb(178 204 214);
  --nlds-code-block-deleted-color: rgb(239 83 80 / 56%);
  --nlds-code-block-deleted-font-style: italic;
  --nlds-code-block-symbol-color: rgb(128 203 196);
  --nlds-code-block-property-color: rgb(128 203 196);
  --nlds-code-block-tag-color: rgb(127 219 202);
  --nlds-code-block-operator-color: rgb(127 219 202);
  --nlds-code-block-boolean-color: rgb(255 88 116);
  --nlds-code-block-number-color: rgb(247 140 108);
  --nlds-code-block-constant-color: rgb(130 170 255);
  --nlds-code-block-function-color: rgb(130 170 255);
  --nlds-code-block-builtin-color: rgb(130 170 255);
  --nlds-code-block-char-color: rgb(130 170 255);
  --nlds-code-block-selector-color: rgb(199 146 234);
  --nlds-code-block-selector-font-style: italic;
  --nlds-code-block-doctype-color: rgb(199 146 234);
  --nlds-code-block-doctype-font-style: italic;
  --nlds-code-block-attr-name-color: rgb(173 219 103);
  --nlds-code-block-attr-name-font-style: italic;
  --nlds-code-block-inserted-color: rgb(173 219 103);
  --nlds-code-block-inserted-font-style: italic;
  --nlds-code-block-string-color: rgb(111, 211, 206);
  --nlds-code-block-url-color: rgb(173 219 103);
  --nlds-code-block-entity-color: rgb(173 219 103);
  --nlds-code-block-css-token-color: rgb(173 219 103);
  --nlds-code-block-style-token-color: rgb(173 219 103);
  --nlds-code-block-class-name-color: rgb(139, 214, 255);
  --nlds-code-block-maybe-class-name-color: rgb(255, 139, 216);
  --nlds-code-block-atrule-color: rgb(189, 139, 255);
  --nlds-code-block-attr-value-color: rgb(255 203 139);
  --nlds-code-block-regex-color: rgb(214 222 235);
  --nlds-code-block-important-color: rgb(214 222 235);
  --nlds-code-block-variable-color: rgb(214 222 235);
  --nlds-code-block-keyword-color: rgb(214 222 235);
}

.footer__links {
  margin: 0;
}

code,
pre {
  font-family: "Fira Code VF" !important;
  font-feature-settings: "cv13", "cv20", "ss01", "ss02", "ss03";
  font-size: 16px;
  vertical-align: 1%;
}
code {
  background-color: transparent !important;
  border-inline-end: 0;
  border-inline-start: 0;
  border-width: 0;
  padding: 0;
}
