@font-face {
  font-family: "league_gothic";
  src: url("./fonts/leaguegothic-regular-webfont.woff2") format("woff2"),
    url("./fonts/leaguegothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
