@font-face {
    font-family: 'league_gothic';
    src: url('./fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
    url('./fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('./fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
