DirectoryIndex index.html

# Permanent redirects because the file moved or the slug changed
Redirect 301 "/blog/nlds-zelfstandig" "/blog/nl-design-system-zelfstandig-verder"
Redirect 301 "/breadcrumb" "/breadcrumb-navigation"
Redirect 301 "/button-group" "/action-group"
Redirect 301 "/componenten/definition-of-done" "/handboek/component-bijdragen/definition-of-done"
Redirect 301 "/counter-badge" "/number-badge"
Redirect 301 "/definition-list" "/description-list"
Redirect 301 "/handboek/designer/community" "/community"
Redirect 301 "/handboek/designer" "/handboek/designer/introductie"
Redirect 301 "/handboek/designer/nieuwe-versie-publiceren" "/handboek/designer/werken-met-nl-design-system"
Redirect 301 "/handboek/designer/nieuwe-versie-publiceren/versiebeheer-voor-design-tokens" "/handboek/designer/design-tokens-versiebeheer"
Redirect 301 "/handboek/designer/nieuwe-versie-publiceren/werken-met-changelog-voor-figma" "/handboek/designer/werken-met-figma-changelog"
Redirect 301 "/handboek/designer/stappenplan" "/handboek/designer/figma-stappenplan"
Redirect 301 "/handboek/designer/voorbeeld-thema" "/handboek/huisstijl-vastleggen/themas/voorbeeld-thema"
Redirect 301 "/events/design-systems-week-2023/en/overview" "/events/design-systems-week-2023/en/program/"
Redirect 301 "/events/design-systems-week-2023/overzicht" "/events/design-systems-week-2023/"
Redirect 301 "/footer/colofon" "/colofon"
Redirect 301 "/footer/toegankelijkheidsverklaring" "/toegankelijkheidsverklaring"
Redirect 301 "/handboek/candidate-stappenplan" "/handboek/estafettemodel/componenten/candidate-stappenplan"
Redirect 301 "/handboek/community-stappenplan" "/handboek/estafettemodel/componenten/community-stappenplan"
Redirect 301 "/handboek/component-bijdragen/candidate-stappenplan" "/handboek/estafettemodel/componenten/candidate-stappenplan"
Redirect 301 "/handboek/component-bijdragen/community-stappenplan" "/handboek/estafettemodel/componenten/community-stappenplan"
Redirect 301 "/handboek/component-bijdragen/community-stappenplan/voor-kernteam" "/handboek/estafettemodel/componenten/community-stappenplan/voor-kernteam"
Redirect 301 "/handboek/component-bijdragen/community-stappenplan/voor-organisaties" "/handboek/estafettemodel/componenten/community-stappenplan/voor-organisaties"
Redirect 301 "/handboek/component-bijdragen/definition-of-done" "/handboek/estafettemodel/componenten/definition-of-done"
Redirect 301 "/handboek/component-bijdragen/hall-of-fame-stappenplan" "/handboek/estafettemodel/componenten/hall-of-fame-stappenplan"
Redirect 301 "/handboek/component-bijdragen/help-wanted-stappenplan" "/handboek/estafettemodel/componenten/help-wanted-stappenplan"
Redirect 301 "/handboek/designer/breaking-changes" "/handboek/designer/nieuwe-versie-publiceren/versiebeheer-voor-design-tokens"
Redirect 301 "/handboek/hall-of-fame-stappenplan" "/handboek/estafettemodel/componenten/hall-of-fame-stappenplan"
Redirect 301 "/handboek/help-wanted-stappenplan" "/handboek/estafettemodel/componenten/help-wanted-stappenplan"
Redirect 301 "/handboek/leverancier/leverancier-sessie-maart-2023" "/handboek/leverancier/introductie"
Redirect 301 "/onderzoek" "/voorbeelden/onderzoek"
Redirect 301 "/pagination" "/page-number-navigation"
Redirect 301 "/project/over-nlds" "/project/over-nl-design-system"
Redirect 301 "/project/wie-doet-mee" "/community/wie-doet-mee"
Redirect 301 "/richtlijnen/formulieren/overzicht" "/richtlijnen/formulieren"
Redirect 301 "/richtlijnen/formulieren/overzicht/" "/richtlijnen/formulieren"
Redirect 301 "/richtlijnen/introductie" "/richtlijnen"
Redirect 301 "/richtlijnen/introductie/" "/richtlijnen"
Redirect 301 "/richtlijnen/stijl/overzicht" "/richtlijnen/stijl"
Redirect 301 "/richtlijnen/stijl/overzicht/" "/richtlijnen/stijl"
Redirect 301 "/richtlijnen/stijl/typografie/opmaak" "/richtlijnen/stijl/typografie/uitlijning"
Redirect 301 "/summary-list" "/form-summary"
Redirect 301 "/textarea" "/text-area"
Redirect 301 "/text-input-group" "/input-group"
Redirect 301 "/videos/design-system-week-2022" "/events/design-systems-week-2022"
Redirect 301 "/wcag/introduction" "/wcag"

# Permanent redirects because the directory structure changed
RedirectMatch 301 "^/meedoen/als-organisatie/(._)$" "/handboek/organisatie$1"
RedirectMatch 301 "^/meedoen/als-leverancier/(._)$" "/handboek/leverancier$1"
RedirectMatch 301 "^/meedoen/als-developer/(.*)$" "/handboek/developer$1"
RedirectMatch 301 "^/meedoen/als-designer/(.*)$" "/handboek/designer$1"
RedirectMatch 301 "^/meedoen(.*)$" "/handboek$1"
RedirectMatch 301 "^/richtlijnen/formulieren/alle-richtlijnen/(.\*)$" "/richtlijnen/formulieren/$1"
RedirectMatch 301 "^/videos(.\*)$" "/project/events$1"
RedirectMatch 301 "^/project/events(.\*)$" "/community/events$1"
RedirectMatch 301 "^/events/?$" "/community/events/overzicht"

# Convenience redirects for every WCAG success criterium
Redirect 301 "/1.1.1" "/wcag/1.1.1/"
Redirect 301 "/1.2.1" "/wcag/1.2.1/"
Redirect 301 "/1.2.2" "/wcag/1.2.2/"
Redirect 301 "/1.2.3" "/wcag/1.2.3/"
Redirect 301 "/1.2.4" "/wcag/1.2.4/"
Redirect 301 "/1.2.5" "/wcag/1.2.5/"
Redirect 301 "/1.2.6" "/wcag/1.2.6/"
Redirect 301 "/1.2.7" "/wcag/1.2.7/"
Redirect 301 "/1.2.8" "/wcag/1.2.8/"
Redirect 301 "/1.2.9" "/wcag/1.2.9/"
Redirect 301 "/1.3.1" "/wcag/1.3.1/"
Redirect 301 "/1.3.2" "/wcag/1.3.2/"
Redirect 301 "/1.3.3" "/wcag/1.3.3/"
Redirect 301 "/1.3.4" "/wcag/1.3.4/"
Redirect 301 "/1.3.5" "/wcag/1.3.5/"
Redirect 301 "/1.3.6" "/wcag/1.3.6/"
Redirect 301 "/1.4.1" "/wcag/1.4.1/"
Redirect 301 "/1.4.2" "/wcag/1.4.2/"
Redirect 301 "/1.4.3" "/wcag/1.4.3/"
Redirect 301 "/1.4.4" "/wcag/1.4.4/"
Redirect 301 "/1.4.5" "/wcag/1.4.5/"
Redirect 301 "/1.4.6" "/wcag/1.4.6/"
Redirect 301 "/1.4.7" "/wcag/1.4.7/"
Redirect 301 "/1.4.8" "/wcag/1.4.8/"
Redirect 301 "/1.4.9" "/wcag/1.4.9/"
Redirect 301 "/1.4.10" "/wcag/1.4.10/
Redirect 301 "/1.4.11" "/wcag/1.4.11/
Redirect 301 "/1.4.12" "/wcag/1.4.12/
Redirect 301 "/1.4.13" "/wcag/1.4.13/
Redirect 301 "/2.1.1" "/wcag/2.1.1/"
Redirect 301 "/2.1.2" "/wcag/2.1.2/"
Redirect 301 "/2.1.3" "/wcag/2.1.3/"
Redirect 301 "/2.1.4" "/wcag/2.1.4/"
Redirect 301 "/2.2.1" "/wcag/2.2.1/"
Redirect 301 "/2.2.2" "/wcag/2.2.2/"
Redirect 301 "/2.2.3" "/wcag/2.2.3/"
Redirect 301 "/2.2.4" "/wcag/2.2.4/"
Redirect 301 "/2.2.5" "/wcag/2.2.5/"
Redirect 301 "/2.2.6" "/wcag/2.2.6/"
Redirect 301 "/2.3.1" "/wcag/2.3.1/"
Redirect 301 "/2.3.2" "/wcag/2.3.2/"
Redirect 301 "/2.3.3" "/wcag/2.3.3/"
Redirect 301 "/2.4.1" "/wcag/2.4.1/"
Redirect 301 "/2.4.2" "/wcag/2.4.2/"
Redirect 301 "/2.4.3" "/wcag/2.4.3/"
Redirect 301 "/2.4.4" "/wcag/2.4.4/"
Redirect 301 "/2.4.5" "/wcag/2.4.5/"
Redirect 301 "/2.4.6" "/wcag/2.4.6/"
Redirect 301 "/2.4.7" "/wcag/2.4.7/"
Redirect 301 "/2.4.8" "/wcag/2.4.8/"
Redirect 301 "/2.4.9" "/wcag/2.4.9/"
Redirect 301 "/2.4.10" "/wcag/2.4.10/"
Redirect 301 "/2.4.11" "/wcag/2.4.11/"
Redirect 301 "/2.4.12" "/wcag/2.4.12/"
Redirect 301 "/2.4.13" "/wcag/2.4.13/"
Redirect 301 "/2.5.1" "/wcag/2.5.1/"
Redirect 301 "/2.5.2" "/wcag/2.5.2/"
Redirect 301 "/2.5.3" "/wcag/2.5.3/"
Redirect 301 "/2.5.4" "/wcag/2.5.4/"
Redirect 301 "/2.5.5" "/wcag/2.5.5/"
Redirect 301 "/2.5.6" "/wcag/2.5.6/"
Redirect 301 "/2.5.7" "/wcag/2.5.7/"
Redirect 301 "/2.5.8" "/wcag/2.5.8/"
Redirect 301 "/3.1.1" "/wcag/3.1.1/"
Redirect 301 "/3.1.2" "/wcag/3.1.2/"
Redirect 301 "/3.1.3" "/wcag/3.1.3/"
Redirect 301 "/3.1.4" "/wcag/3.1.4/"
Redirect 301 "/3.1.5" "/wcag/3.1.5/"
Redirect 301 "/3.1.6" "/wcag/3.1.6/"
Redirect 301 "/3.2.1" "/wcag/3.2.1/"
Redirect 301 "/3.2.2" "/wcag/3.2.2/"
Redirect 301 "/3.2.3" "/wcag/3.2.3/"
Redirect 301 "/3.2.4" "/wcag/3.2.4/"
Redirect 301 "/3.2.5" "/wcag/3.2.5/"
Redirect 301 "/3.2.6" "/wcag/3.2.6/"
Redirect 301 "/3.3.1" "/wcag/3.3.1/"
Redirect 301 "/3.3.2" "/wcag/3.3.2/"
Redirect 301 "/3.3.3" "/wcag/3.3.3/"
Redirect 301 "/3.3.4" "/wcag/3.3.4/"
Redirect 301 "/3.3.5" "/wcag/3.3.5/"
Redirect 301 "/3.3.6" "/wcag/3.3.6/"
Redirect 301 "/3.3.7" "/wcag/3.3.7/"
Redirect 301 "/3.3.8" "/wcag/3.3.8/"
Redirect 301 "/3.3.9" "/wcag/3.3.9/"
Redirect 301 "/4.1.1" "/wcag/4.1.1/"
Redirect 301 "/4.1.2" "/wcag/4.1.2/"
Redirect 301 "/4.1.3" "/wcag/4.1.3/"

# Temporary redirects until we have multiple factsheets and turn /factsheets into an overview page
RedirectMatch 307 "^/factsheets/?$" "/factsheets/managers"

# Temporary redirects until the component is part of help-wanted board
Redirect 307 "/calendar" "/componenten"
Redirect 307 "/character-count" "/componenten"
Redirect 307 "/form-field-radio-option" "/componenten"
Redirect 307 "/form-field-checkbox-option" "/componenten"
Redirect 307 "/tooltip" "/componenten"

ErrorDocument 404 /404.html
