DirectoryIndex index.html

Redirect 301 "/footer/toegankelijkheidsverklaring" "/toegankelijkheidsverklaring"
Redirect 301 "/footer/colofon" "/colofon"
Redirect 301 "/videos/design-system-week-2022" "/events/design-systems-week-2022"
Redirect 301 "/handboek/leverancier/leverancier-sessie-maart-2023" "/handboek/leverancier/introductie"
Redirect 301 "/counter-badge" "/number-badge"
Redirect 301 "/project/over-nlds" "/project/over-nl-design-system"

RedirectMatch 301 "^/videos(.*)$" "/project/events$1"

RedirectMatch 301 "^/meedoen/als-organisatie/(.*)$" "/handboek/organisatie$1"
RedirectMatch 301 "^/meedoen/als-leverancier/(.*)$" "/handboek/leverancier$1"
RedirectMatch 301 "^/meedoen/als-developer/(.*)$" "/handboek/developer$1"
RedirectMatch 301 "^/meedoen/als-designer/(.*)$" "/handboek/designer$1"
RedirectMatch 301 "^/meedoen(.*)$" "/handboek$1"

RedirectMatch 301 "^/richtlijnen/formulieren/alle-richtlijnen/(.*)$" "/richtlijnen/formulieren/$1"

RedirectMatch 301 "^/project/events(.*)$" "/community/events$1"
Redirect 301 "/project/wie-doet-mee" "/community/wie-doet-mee"

Redirect 301 "/onderzoek" "/voorbeelden/onderzoek"
RedirectMatch 301 "^/events/?$" "/community/events/overzicht"

# until we have multiple factsheets and turn /factsheets into an overview page
RedirectMatch 302 "^/factsheets/?$" "/factsheets/managers"
