.content {
  --utrecht-link-color: auto;

  font-size: 16px;
  padding: 8px 10px;
  text-align: center;
}

.content a {
  --utrecht-link-color: currentColor;
  --utrecht-link-hover-color: currentColor;
  --utrecht-link-text-decoration-color: currentColor;
  --ifm-link-hover-color: currentColor;
}
