.nlds-canvas {
  --nlds-container-border-color: hsl(193 24% 85%);

  border: 1px solid var(--nlds-container-border-color);
}

.nlds-canvas--distanced {
  margin-block-end: 8px;
  margin-block-start: 16px;
}

.nlds-canvas__example {
  background-color: hsl(30 33% 96%);
  padding-block: 16px;
  padding-inline: 16px;
}
.nlds-canvas__example:empty {
  padding: 0;
}

.nlds-canvas__code-block--user-select-none {
  cursor: not-allowed;
  user-select: none;
}

.nlds-canvas__toolbar {
  background-color: var(--nlds-code-block-background-color);
  text-align: end;
}

.nlds-canvas__button {
  --utrecht-button-subtle-background-color: hsl(0 0% 100% / 10%);
  --utrecht-button-subtle-color: #fff;
  --utrecht-button-subtle-font-weight: normal;
  --utrecht-button-subtle-hover-background-color: hsl(0 0% 100% / 20%);
  --utrecht-button-subtle-hover-color: #fff;
  --utrecht-button-subtle-hover-font-weight: normal;
  --utrecht-button-subtle-active-background-color: hsl(0 0% 100% / 10%);
  --utrecht-button-subtle-active-color: #fff;
  --utrecht-button-subtle-active-font-weight: normal;
  --utrecht-button-subtle-focus-background-color: var(--nlds-focus-background-color);
  --utrecht-button-subtle-focus-color: var(--nlds-focus-color);
  --utrecht-button-subtle-focus-font-weight: normal;
}
