.nlds-canvas {
  --nlds-container-border-color: hsl(193 24% 85%);
  border: 1px solid var(--nlds-container-border-color);
}

.nlds-canvas--distanced {
  margin-block-start: 16px;
  margin-block-end: 8px;
}

.nlds-canvas__example {
  background-color: hsl(30 33% 96%);
  padding-inline: 16px;
  padding-block: 16px;
}
.nlds-canvas__example:empty {
  padding: 0;
}

.nlds-canvas__code-block {
  --nlds-code-block-code-color: #c5c8c6;
  --nlds-code-block-color: #fff;
  --nlds-code-block-font-family: "Fira Code", "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-tab-size: 4;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-hyphens: none;
  --nlds-code-block-padding-inline-start: 1em;
  --nlds-code-block-padding-inline-end: 1em;
  --nlds-code-block-padding-block-start: 1em;
  --nlds-code-block-padding-block-end: 1em;
  --nlds-code-block-margin-inline-start: 0;
  --nlds-code-block-margin-inline-end: 0;
  --nlds-code-block-margin-inline-start: 0;
  --nlds-code-block-margin-inline-end: 0;
  --nlds-code-block-background-color: #011627;
  --nlds-code-block-selected-background-color: rgba(29, 59, 83, 0.99);
  --nlds-code-block-comment-color: rgb(99, 119, 119);
  --nlds-code-block-comment-font-style: italic;
  --nlds-code-block-prolog-color: rgb(99, 119, 119);
  --nlds-code-block-prolog-font-style: italic;
  --nlds-code-block-cdata-color: rgb(99, 119, 119);
  --nlds-code-block-cdata-font-style: italic;
  --nlds-code-block-punctuation-color: rgb(199, 146, 234);
  --nlds-code-block-namespace-color: rgb(178, 204, 214);
  --nlds-code-block-deleted-color: rgba(239, 83, 80, 0.56);
  --nlds-code-block-deleted-font-style: italic;
  --nlds-code-block-symbol-color: rgb(128, 203, 196);
  --nlds-code-block-property-color: rgb(128, 203, 196);
  --nlds-code-block-tag-color: rgb(127, 219, 202);
  --nlds-code-block-operator-color: rgb(127, 219, 202);
  --nlds-code-block-boolean-color: rgb(255, 88, 116);
  --nlds-code-block-number-color: rgb(247, 140, 108);
  --nlds-code-block-constant-color: rgb(130, 170, 255);
  --nlds-code-block-function-color: rgb(130, 170, 255);
  --nlds-code-block-builtin-color: rgb(130, 170, 255);
  --nlds-code-block-char-color: rgb(130, 170, 255);
  --nlds-code-block-selector-color: rgb(199, 146, 234);
  --nlds-code-block-selector-font-style: italic;
  --nlds-code-block-doctype-color: rgb(199, 146, 234);
  --nlds-code-block-doctype-font-style: italic;
  --nlds-code-block-attr-name-color: rgb(173, 219, 103);
  --nlds-code-block-attr-name-font-style: italic;
  --nlds-code-block-inserted-color: rgb(173, 219, 103);
  --nlds-code-block-inserted-font-style: italic;
  --nlds-code-block-string-color: rgb(173, 219, 103);
  --nlds-code-block-url-color: rgb(173, 219, 103);
  --nlds-code-block-entity-color: rgb(173, 219, 103);
  --nlds-code-block-css-token-color: rgb(173, 219, 103);
  --nlds-code-block-style-token-color: rgb(173, 219, 103);
  --nlds-code-block-class-name-color: rgb(255, 203, 139);
  --nlds-code-block-atrule-color: rgb(255, 203, 139);
  --nlds-code-block-attr-value-color: rgb(255, 203, 139);
  --nlds-code-block-regex-color: rgb(214, 222, 235);
  --nlds-code-block-important-color: rgb(214, 222, 235);
  --nlds-code-block-variable-color: rgb(214, 222, 235);
}

.nlds-canvas__code-block--user-select-none {
  user-select: none;
  cursor: not-allowed;
}

.nlds-canvas__toolbar {
  background-color: var(--nlds-code-block-background-color);
  text-align: end;
}

.nlds-canvas__button {
  --utrecht-button-subtle-background-color: hsla(0, 0%, 100%, 0.1);
  --utrecht-button-subtle-color: #fff;
  --utrecht-button-subtle-font-weight: normal;
  --utrecht-button-subtle-hover-background-color: hsla(0, 0%, 100%, 0.2);
  --utrecht-button-subtle-hover-color: #fff;
  --utrecht-button-subtle-hover-font-weight: normal;
  --utrecht-button-subtle-active-background-color: hsla(0, 0%, 100%, 0.1);
  --utrecht-button-subtle-active-color: #fff;
  --utrecht-button-subtle-active-font-weight: normal;
  --utrecht-button-subtle-focus-background-color: var(--nlds-focus-background-color);
  --utrecht-button-subtle-focus-color: var(--nlds-focus-color);
  --utrecht-button-subtle-focus-font-weight: normal;
}
.nlds-canvas__button:focus {
  background-color: var(--utrecht-button-focus-background-color) !important;
}
