.ma-component-illustration {
  block-size: auto;
  display: inline;
  inline-size: auto;
  margin-block: 0;
  margin-inline: 0;
  max-block-size: var(--ma-component-illustration-svg-max-height);
  max-inline-size: 100%;
  padding-inline: var(--ma-component-illustration-padding-inline);
}

.ma-component-illustration--help-wanted {
  --ma-component-illustration-background-color: var(--ma-color-help-wanted-bg-default);
  --ma-component-illustration-grid-color: var(--ma-color-help-wanted-border-default);
  --ma-component-illustration-color: var(--ma-color-help-wanted-color-default);
}

.ma-component-illustration--community {
  --ma-component-illustration-background-color: var(--ma-color-community-bg-default);
  --ma-component-illustration-grid-color: var(--ma-color-help-community-border-color-default);
  --ma-component-illustration-color: var(--ma-color-community-color-default);
}

.ma-component-illustration--candidate {
  --ma-component-illustration-background-color: var(--ma-color-candidate-bg-default);
  --ma-component-illustration-grid-color: var(--ma-color-candidate-border-color-default);
  --ma-component-illustration-color: var(--ma-color-candidate-border-default);
}

.ma-component-illustration--hall-of-fame {
  --ma-component-illustration-background-color: var(--ma-color-hall-of-fame-bg-default);
  --ma-component-illustration-grid-color: var(--ma-color-hall-of-fame-border-color-default);
  --ma-component-illustration-color: var(--ma-color-hall-of-fame-color-default);
}

.ma-component-illustration__caption {
  inset-inline-start: -1000vw;
  position: absolute;
}
