.component-illustration {
  margin: 0;
  padding-inline: 24px;
}

.component-illustration__svg {
  max-height: 185px;
  width: auto;
}

.component-illustration__caption {
  position: absolute;
  left: -1000vw;
}

.component-illustration--help-wanted {
  --component-illustration-background-color: #f9f6f3;
  --component-illustration-grid-color: #e4ebed;
  --component-illustration-color: #004152;
}

.component-illustration--community {
  --component-illustration-background-color: #e5f2f7;
  --component-illustration-grid-color: #cce4ef;
  --component-illustration-color: #0079af;
}

.component-illustration--candidate {
  --component-illustration-background-color: #e5f0f0;
  --component-illustration-grid-color: #cce1e1;
  --component-illustration-color: #006a68;
}

.component-illustration--hall-of-fame {
  --component-illustration-background-color: #f4eef2;
  --component-illustration-grid-color: #eadfe7;
  --component-illustration-color: #74295f;
}
