.component-illustration {
  display: inline;
  height: auto;
  margin: 0;
  max-height: var(--component-illustration-svg-max-height);
  max-width: 100%;
  padding-inline: var(--component-illustration-padding-inline);
  width: auto;
}

.component-illustration--help-wanted {
  --component-illustration-background-color: var(--nlds-status-help-wanted-subtle-background-color);
  --component-illustration-grid-color: var(--nlds-status-help-wanted-border-color);
  --component-illustration-color: var(--nlds-status-help-wanted-color);
}

.component-illustration--community {
  --component-illustration-background-color: var(--nlds-status-community-subtle-background-color);
  --component-illustration-grid-color: var(--nlds-status-community-border-color);
  --component-illustration-color: var(--nlds-status-community-color);
}

.component-illustration--candidate {
  --component-illustration-background-color: var(--nlds-status-candidate-subtle-background-color);
  --component-illustration-grid-color: var(--nlds-status-candidate-border-color);
  --component-illustration-color: var(--nlds-status-candidate-color);
}

.component-illustration--hall-of-fame {
  --component-illustration-background-color: var(--nlds-status-hall-of-fame-subtle-background-color);
  --component-illustration-grid-color: var(--nlds-status-hall-of-fame-border-color);
  --component-illustration-color: var(--nlds-status-hall-of-fame-color);
}

.component-illustration__caption {
  left: -1000vw;
  position: absolute;
}
