.component-illustration {
  display: inline;
  height: auto;
  margin: 0;
  max-height: var(--component-illustration-svg-max-height);
  max-width: 100%;
  padding-inline: var(--component-illustration-padding-inline);
  width: auto;
}

.component-illustration--help-wanted {
  --component-illustration-background-color: #f9f6f3;
  --component-illustration-grid-color: #e4ebed;
  --component-illustration-color: #004152;
}

.component-illustration--community {
  --component-illustration-background-color: #e5f2f7;
  --component-illustration-grid-color: #cce4ef;
  --component-illustration-color: #0079af;
}

.component-illustration--candidate {
  --component-illustration-background-color: #e5f0f0;
  --component-illustration-grid-color: #cce1e1;
  --component-illustration-color: #006a68;
}

.component-illustration--hall-of-fame {
  --component-illustration-background-color: #f4eef2;
  --component-illustration-grid-color: #eadfe7;
  --component-illustration-color: #74295f;
}

.component-illustration__caption {
  left: -1000vw;
  position: absolute;
}
