/* stylelint-disable-next-line selector-class-pattern */
.card {
  --utrecht-space-around: 0;
  --ifm-link-color: var(--nlds-interaction-color);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --utrecht-icon-size: 20px;
  --utrecht-icon-inset-block-start: 0.25em;

  background-color: white;
  border: 2px solid #f5f5f5;
  border-radius: 0;
  box-sizing: border-box;
  color: #00303d;
  padding-block: 24px;
  padding-inline: 16px;
  position: relative;
}

/* stylelint-disable-next-line selector-class-pattern */
.card:has(.cardLink:hover) {
  border-color: #ddd;
}

/* stylelint-disable-next-line selector-class-pattern */
.cardTitle {
  font-size: 28px;
}

/* stylelint-disable-next-line selector-class-pattern */
.cardDescription {
  font-size: 20px;
}

/* stylelint-disable-next-line selector-class-pattern */
.cardLink {
}

/* stylelint-disable-next-line selector-class-pattern */
.cardLink::before {
  content: "";
  inset-block-end: 0;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  position: absolute;
}

li.ma-doelen__item--check::before,
li.ma-doelen__item--almost-check::before {
  float: inline-start;
  padding-inline-end: 0.33em;
}

li.ma-doelen__item--check::before {
  content: "✅";
}
li.ma-doelen__item--almost-check::before {
  content: "☑️";
}
/*
li.check {
  display: none;
} */

/* li:not(.check) {
  display: none;
} */
