@media (width >= 997px) {
  .generatedIndexPage {
    max-width: 75%;
  }

  .list article:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

/* Duplicated from .markdown h1 */
.title {
  --ifm-h1-font-size: 3rem;

  margin-bottom: calc(1.25 * var(--ifm-leading));
}

.list article:last-child {
  margin-bottom: 0;
}

.navbar__items--right > :last-child {
  padding: auto;
}
